[2019-02-11 23:05] filbranden opened #8 "OOM handling does not work in systemd unified cgroup mode"
The code opens files `cgroup.event_control` and `memory.oom_control`, which are specific to cgroupv1 only.

Commenting out the only call to `setup_oom_handling()` seems to be enough to make podman/conmon to work on a machine booting with `systemd.unified_cgroup_hierarchy=1`.

So it would be great to update the code to detect and handle cgroupv2 properly (particularly under the unified cgroup, wher

[2019-02-12 14:06] rhatdan commented on #8
Thanks @filbranden. @mheon Could you make this change ASAP.

[2019-02-12 14:19] mheon commented on #8
Sure, I'll give it a look. I think we'll need a `--cgroups-v2` flag (or similar) to swap the behaviour.

@filbranden Once this is fixed, any other issues with Podman and v2 you find, we'd love to look at. I think we have a pretty good idea of what's broken (stats, maybe pod cgroup creation), but I think you're the first one actually trying it.

[2019-02-12 15:22] giuseppe commented on #8
Could we make it automatic?  If we fail to open the cgroupv1 file with ENOENT, then we try with the new file name and set a different handler.

If we can use eventfd, it will be quite straightforward to plug it in the existing code

[2019-02-12 15:34] rhatdan commented on #8
Yes we don't want to add a new flag, this should just work.

[2019-02-12 16:31] filbranden commented on #8
@mheon Look at this document for detection of cgroup setup:

https://systemd.io/CGROUP_DELEGATION.html#three-different-tree-setups-

See also this commit (in libcontainer, Golang) where I implement this logic over there:

https://github.com/filbranden/runc/commit/2d1d7105b27e7b60a244b8738735dd04e8ce1f97

In short, statfs `/sys/fs/cgroup`, if it's a `cgroup2` mount then use the "unified" logic, oth

[2019-03-08 13:13] lsm5 opened #14 "fedora packaging"
Get conmon packaged on fedora

[2019-03-08 13:39] cevich commented on #14
https://url.corp.redhat.com/1cd11d0

[2019-03-08 15:51] mheon commented on #14
We might be missing patches in this repo again

[2019-05-20 21:17] haircommander commented on #8
@giuseppe @filbranden is https://github.com/containers/conmon/pull/20/commits/608ea92607cc950721d19ee36f99ddcffb5c1708 sufficient to close this issue?

[2019-05-21 00:02] mheon commented on #8
Probably not - we need to actually make it speak V2 so it can appropriately detect OOM there. That commit just removes errors.

[2019-05-21 07:47] giuseppe commented on #8
as @mheon said, that commit just removes errors so at least the container can be created in a cgroup v2 environment.

[2019-05-21 13:12] giuseppe commented on #8
I've opened a PR here: https://github.com/cri-o/cri-o/pull/2395

I've tested it with crun and Podman on a cgroup v2 system:

[code]

[2019-05-24 21:39] #8 closed

[2019-05-28 08:15] bschacht opened #30 "Please clarify copyright"
Hi,

the LICENSE file does not specify the copyright holder. https://github.com/containers/conmon/blob/8f7cb2acf5d44141d5433d85e68b43af2895b363/LICENSE#L189 says Copyright {yyyy} {name of copyright owner}. It would be great for downstream packaging to know the correct copyright holder(s).

thanks!

[2019-05-28 09:51] vrothberg commented on #30
@rhatdan @mrunalp PTAL

[2019-05-28 10:47] saschagrunert opened #32 "Static builds"
Hey there :wave:, do we need static binary builds of conmon? We currently have some dependencies in:

[code]

Feel free to close if this is out of scope.

[2019-05-28 13:15] haircommander commented on #32
While I haven't heard of a need, I don't suppose it would hurt :)

[2019-05-28 17:55] rhatdan commented on #32
I am fine with adding it,  Seems a lot of people like the idea.

[2019-05-28 19:09] haircommander opened #34 "journald logging with terminal prints stdin on new lines"
Based on how runc creates a console socket (only one fd for stdin and stdout), conmon currently isn't correctly figuring out if a character written to a tty is a new stdout line or a character of stdin. As such, it is automatically treated as the former, and running with tty causes odd journald output like:
[code]
Where it should really be
`/ # exit`

when a user types exit into the console.

[2019-05-29 11:41] saschagrunert commented on #32
I updated the conmon package to 0.2.0 in https://github.com/NixOS/nixpkgs/pull/62213, which can be a good base for static building.

[2019-05-29 15:11] haircommander opened #37 "json-file logging"
We'd like to implement a json file logger so managers have the ability to log in a json file format

[2019-05-29 15:23] haircommander opened #38 "implement double buffering scheme for logs"
cross post of: https://github.com/cri-o/cri-o/issues/1778

[2019-06-08 04:32] CameronNemo opened #40 "pause"
Is the `pause` static binary still necessary for proper operation of conmon, specifically in the context of podman?

Thank you.

[2019-06-08 05:40] haircommander commented on #40
Nope the pause binary has never been needed for conmon. It is used in CRI-O, and conmon used to be built from the CRI-O repo, so the pause binary was likely compiled and installed as a reminant of that.

[2019-06-08 05:54] #40 closed

[2019-06-09 09:50] rhatdan commented on #30
@vrothberg Do you know what the right thing to do here?  What do most OpenSource projects do?

[2019-06-09 10:06] vrothberg commented on #30
@rhatdan, I *think* we can use `Copyright 2018-2019 github.com/containers authors` to have a general and vendor-neutral authority. We could check if other projects are affected as well. The starting date could be the time of creation of the individual repository.

[2019-06-10 10:17] rhatdan commented on #30
SGTM

[2019-06-13 15:13] haircommander commented on #30
closing per #43

[2019-06-17 13:13] #30 closed

[2019-06-20 17:40] haircommander opened #45 "conmon log file"
Often, users come with problems that happen in conmon and want to know what is happening. We should allow a --conmon-log-file option for conmon to write to a log file as well as syslog. that way, it will be easier to get the logs from users on non-systemd distributions.

[2019-06-20 17:56] rhatdan commented on #45
syslog works on every Unix/Linux System.  No need for systemd.

[2019-06-20 17:59] #45 closed

[2019-06-20 17:59] haircommander commented on #45
Ah okay, just a thought but clearly not necessary

[2019-06-24 05:58] afbjorklund opened #48 "Use variable for pkg-config"
It would be nice if you could use `$(PKG_CONFIG)` instead of just hard-coding `pkg-config`.

[code]

This way it will get the path and flags and other local overrides, it can still default as previous.

[code]

[2019-06-24 10:47] rhatdan commented on #48
Please open a PR.

[2019-06-24 14:50] afbjorklund commented on #48
Will do!

[2019-06-24 16:57] saschagrunert commented on #32
This seems really not an easy task because of two huge dependencies: libsystemd and glib2.

I will give an alpinetool chain a try.

[2019-06-24 16:59] #48 closed

[2019-06-25 19:51] haircommander commented on #37
@phariyan PTAL

[2019-07-09 11:31] vrothberg opened #53 "prefix logs with "conmon: ""
I am currently working on a CRI-O issue and hit:
[code]
It took me a while to realize that the option-parsing error came from conmon and think that a log prefix could be helpful.

[2019-07-09 14:59] #53 closed

[2019-07-26 17:44] TomSweeneyRedHat opened #58 "No install guide"
Even if it's very rudimentary, there should be an install guide for conmon.

[2019-08-03 20:22] #58 closed

[2019-08-10 14:20] eriksjolund commented on #32
I found a Dockerfile in
https://github.com/mgoltzsche/podman-static
and adjusted it a bit
https://github.com/eriksjolund/podman-static/blob/build_conmon_static_experiment/Dockerfile

    $ ldd ./conmon
    	statically linked
    $ ./conmon --version
    conmon version 2.0.0
    commit: e217fdff82e0b1a6184a28c43043a4065083407f
    $

It doesn't have systemd but I wonder if systemd is really in use?

[2019-08-12 06:59] saschagrunert commented on #32
Hey @eriksjolund, yeah systemd might be an issue when it comes to static builds.

[2019-08-27 19:34] mgoltzsche commented on #32
FYI: I fixed the static conmon build in https://github.com/mgoltzsche/podman-static (still has no systemd support).

[2019-08-27 20:54] karl-tpio opened #67 "the `podman` binary does not support `journald` logging when installed via the ubuntu/ppa repos"
This is a ticket originating from the discussion starting here:
https://github.com/containers/libpod/issues/3126#issuecomment-525451798

At the request of @haircommander, i am creating this ticket to track the work required to get `journald` support built into the `podman` binaries that are currently being packaged up for the ubuntu/ppa users.

As pointed out [here](https://github.com/containers/l

[2019-09-04 20:06] #32 closed

[2019-09-13 07:55] vrothberg opened #72 "draft a new release"
The upcoming Podman v1.6.0 ships a new generate-systemd for Pods command. The restart policy of the unit files won't work without a newer conmon.

[2019-09-13 13:26] vrothberg commented on #72
Will do. Have a good one, Peter!

[2019-09-13 15:34] #72 closed

[2019-11-03 16:35] iximiuz opened #79 "Signal handlers use not async-signal-safe functions"
It seems that at least [`check_child_processes()` ](https://github.com/containers/conmon/blob/19a1d5c48f5c05ec6fb72ec95411e51f25743460/src/conmon.c#L443) can be called as a part of a signal handler. And this function may in turn call [printf-family](https://github.com/containers/conmon/blob/19a1d5c48f5c05ec6fb72ec95411e51f25743460/src/conmon.c#L431) functions, which are not white-listed here http:

[2019-11-04 08:52] giuseppe commented on #79
`check_child_processes` is not called as part of a signal handler, but AFAICS it is called as part of a glib callback.  glib catches the signal then it propagates the signal to the callback(s) as a normal event.  This is the stack trace I see for `check_child_processes` when `SIGUSR1` is received:

[code]

differently, `SIGCHLD` gives this stack trace:

[code]

`on_sigchld()` uses only `raise(3)`

[2019-11-04 21:16] iximiuz commented on #79
Thanks for the nice clarification @giuseppe. I suspect this should be closed then as not an issue.

[2019-11-04 21:16] #79 closed

[2019-11-14 21:55] portante opened #84 "Provide logging behavior policies applied by conmon to stdout/stderr"
Today `conmon` is engaging in a byte-capture of `stdout`/`stderr` pipes, recording data as a series of JSON documents in a log file.  All bytes from both file descriptors are captured without discrimination.  We also see that `conmon` tries to write to disk as fast as possible (but sequentially) with what it reads from both pipes.

There is a natural back-pressure presented by `conmon` to the proc

[2019-11-15 13:08] adrianreber opened #85 "conmon 2.0.3 breaks container restore in Podman"
Starting with the release of conmon 2.0.3 container restoring is broken. I saw it first in CRIU's CI:

https://travis-ci.org/checkpoint-restore/criu/jobs/612285703

Going back to 2.0.2 fixes it. As the CRIU CI setup uses the Ubuntu ppa it would be good to go back to 2.0.2 in the ppa.

[2019-11-15 15:00] haircommander commented on #85
I am able to reproduce it, and haven't a clue what's going on. I'll look further.

[2019-11-15 15:05] adrianreber commented on #85
I also tested it further and it seems to be related to `winsz`. My guess right now is if the file exists, conmon fails. Not tested, yet.

[2019-11-15 15:22] haircommander commented on #85
I don't see the `ctl` fifo after a checkpoint, does podman delete it? if so, it should also delete `winsz`

[2019-11-15 15:24] adrianreber commented on #85
Right, that should be an easy fix in Podman. I can open a PR.

[2019-11-15 16:18] TomSweeneyRedHat commented on #85
As always, TYVM @adrianreber !

[2019-11-15 16:30] haircommander commented on #85
@adrianreber I also have a fix ready if you're busy :smile:

[2019-11-15 17:09] adrianreber commented on #85
Yes, please. Next few days would be difficult for me. If you already have the fix, go ahead.

Am 15. November 2019 17:30:49 MEZ schrieb Peter Hunt <notifications@github.com>:

[2019-11-17 14:13] rhatdan commented on #84
@giuseppe Could you see about adding these flags.

[2019-11-18 08:37] giuseppe commented on #84
I've a few questions.

- Is `ignore` the equivalent of `drop` with a bytes-per-interval=0?

- Are these limits supposed to be changed at runtime?  e.g. can I change bytes-per-interval while the container is running?

- How these settings will work for Podman/CRI-O?  e.g. for CRi-O: should it be done globally or in an annotation?

[2019-11-18 11:57] mheon commented on #84
For Podman I see us exposing this via --log-opt

On Mon, Nov 18, 2019, 03:37 Giuseppe Scrivano <notifications@github.com>
wrote:

[2019-11-18 16:07] rhatdan commented on #84
@portante WDYT?

No these should be constant for the container

CRI-O would need to use annotations until this gets support in upstream Kubernetes.
I agree with @mheon Podman would use --log-opt.

[2019-11-18 16:25] haircommander commented on #84
While using annotations in CRI-O to set this would work, I'm not sure anyone would use it (us included) before it makes it upstream. conmon would still have to log in the old format to conform, and thus we'd have to have concurrent logging (the new and old way). It may make most sense to implement for podman, and propose in CRI, before we do work in CRI-O that may not be used or may not be really

[2019-11-18 16:27] portante commented on #84
Certainly it could be implemented that way, but I was hoping we could make it so that at the `--log-opt` interface level `drop` with `bytes-per-interval=0` is rejected.  This way the intention is explicit instead of implicit: you want one of three behaviors, `ignore` (no logs at all), `drop`(logs if in bounds), `back-pressure` (all logs, with max bandwidth).

The other behavior we need is to be su

[2019-11-20 17:20] mheon opened #86 "Update changelog for new releases"
The repository contains a CHANGELOG file, but the most recent recorded release is 1.0, and the latest release is 2.0.x - would be nice to have updates in there

[2019-11-20 22:18] cgwalters opened #87 "tight infloop after OOM killer"
I am running:
[code]

I am using https://github.com/cgwalters/coretoolbox and tried to run https://pypi.org/project/diffoscope/ on some disk images which seemed to allocate a ton of memory only to get OOM killed.

However, after that I had a few `conmon` processes in a tight infinite loop chewing up CPU:

[code]

[code]

Repeating indefinitely.

[2019-11-20 22:19] cgwalters commented on #87
The outer terminal (tilix) seemed to be killed too.

[2019-11-27 13:15] DaanDeMeyer opened #88 "create_pid not cleaned up on error?"
if this fork succeeds https://github.com/containers/conmon/blob/f6d23b51a3c56cccd4e13b4eea361e98e1855802/src/conmon.c#L1496

And any of the following code before the `waitpid` call fails, shouldn't the child process (`create_pid`) be stopped correctly and waited for with `waitpid`? I think my issue in https://github.com/containers/libpod/issues/3696 is a side effect of an injected fd not being cle

[2019-11-27 13:19] rhatdan commented on #88
@DaanDeMeyer Any chance you could open a PR to fix?

[2019-11-27 13:41] DaanDeMeyer commented on #88
I'll take a look when I have time. I'm not entirely sure what signal I should send to stop `create_pid`, if one of the original authors can chime in on that I should be able to figure it out.

[2019-11-27 14:09] haircommander commented on #88
I think the classic SIGTERM followed by SIGKILL should suffice. @giuseppe thoughts? Thanks for taking a look and reporting @DaanDeMeyer !

[2019-11-27 19:59] DaanDeMeyer commented on #88
Any pointers on the timeout before sending SIGKILL if SIGTERM doesn't work? I think I have the waiting with timeout figured out in [reproc](https://github.com/DaanDeMeyer/reproc/blob/d39b426a2ac663183717ee2b5b564dcb1988b163/reproc/src/posix/process.c#L360) so I was thinking about just reusing that (without the macOS stuff) here if that isn't a problem for you guys.

[2019-11-28 14:24] giuseppe commented on #88
I think the `prctl(PR_SET_PDEATHSIG, SIGKILL)` we have in place already ensures the child process is killed when the parent process exits.

There could be a couple of races though that should be verified:

- `PR_SET_PDEATHSIG` called after the parent already exited.
- not waiting that the child process exited.

Does https://github.com/containers/conmon/pull/89 address the issue you are seeing here

[2019-11-28 20:14] DaanDeMeyer commented on #88
It could indeed be a race condition where the parent process exits before `PR_SET_PDEATHSIG` is set. Regardless, #89 is probably an improvement over the current situation just because more stuff that can fail is done before forking instead of after.

#89 should address my issue and `PR_SET_PDEATHSIG` should handle cleanup (apart from the possible race condition) so this can be closed unless you wa

[2019-12-02 16:34] #87 closed

[2019-12-05 19:14] mffiedler commented on #84
Example of the behavior described by @portante in https://bugzilla.redhat.com/show_bug.cgi?id=1741955.   Container logging rates and container runtime log rotation policy can cause the logs to  outstrip the log scraper's ability to keep up.

[2019-12-09 16:48] syedriko commented on #84
I'm adding two new log options to podman CLI in my POC, passed as part of --log-opt:

policy=backpressure|drop|ignore|passthrough

Peter has covered the first three, passthrough is current behavior with unrestricted logging.

rate-limit=RATE
Limit  the  transfer to a maximum of RATE bytes per second.  A suffix of "K", "M", "G", or "T" can be
added to denote kibibytes (*1024), mebibytes, and so on.

[2019-12-09 17:40] rhatdan commented on #84
@syedriko @portante Could one of you open a PR to add this feature?

[2019-12-09 17:46] syedriko commented on #84
@rhatdan A WIP PR: https://github.com/containers/conmon/pull/92

[2019-12-09 18:32] rhatdan commented on #84
@syedriko I mean a PR to containers/common to add these limits.

[2019-12-09 19:15] bparees commented on #84
what happens in the back-pressure case?  the logs continue to accumulate in the pipe/buffer indefinitely(Assuming the log rate never drops)?  can this cause memory consumption issues?  who's memory budget does that come out of?

[2019-12-09 19:18] haircommander commented on #84
By default, CRI-O puts conmon in the system.slice, but OCP ships with it in the pod slice, so it'd be charged to the pod

[2019-12-09 19:21] bparees commented on #84
that sounds like the right place for it, so that's good.

[2019-12-09 19:58] syedriko commented on #84
When over output quota in a particular time period, container log writes will block on a pipe that conmon reads from until the end of that time period. There won't be log accumulation.

[2019-12-09 20:32] portante commented on #84
One complication is that I think the logging rate should be specified separately for stdout from stderr.  We should not lump the two together.

[2019-12-09 20:38] syedriko commented on #84
We can sure do that. With the PRs that are currently in-flight, I'm aiming at building a minimal working but end-to-end implementation we can play with, pick apart and make sure it makes sense.

[2019-12-10 06:12] syedriko commented on #84
@rhatdan Could you give me a bit more details? I'm new to the containers code base and I'm not quite seeing how containers/common fits into what I'm doing.

[2019-12-11 11:15] abitrolly opened #99 "pipe to podman hangs"
/kind bug

**Description**

Piping input to `podman run` hands indefinitely. `Ctrl-C` doesn't help.
[code]
Killing doesn't work immediately.
[code]
Container, however. quits.

Running `cat dbdump | pg_restore` from inside the container completes immediately. `dbdump` size is 300k.

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Package info (e.g. output of

[2019-12-12 18:49] #99 closed

[2019-12-13 00:30] rhatdan commented on #99
@giuseppe we need a new conmon release?

[2019-12-13 08:46] giuseppe commented on #99
yes, we agreed on cutting a new one containing the fix and make sure it doesn't break CRI-O

[2019-12-30 13:16] adrianreber commented on #85
Closing as it was fixed in Podman.

[2019-12-30 13:16] #85 closed

[2020-01-02 20:36] aidanhs commented on #67
I'll also note that it currently gives an completely opaque error message:
[code]
Only using `--log-level debug` and looking in the syslog eventually brought me here.

[2020-01-04 11:41] rhatdan commented on #67
@haircommander Is this better in upstream master, and newer versions of Conmon?

[2020-01-06 15:30] haircommander commented on #67
I am not sure if anything has changed on the build machines. @lsm5 do you know?

[2020-01-08 22:09] sstelfox opened #114 "Conmon Getting Stuck Using 100% CPU"
I'm using podman on Fedora 31 as a normal unprivileged user. I've created a pod that contains a fairly restricted elasticsearch, postgresql, and redis instance for development and keep running into a weird issue. When running my unit tests against the services they'll complete once but my system will get incredibly sluggish. top reveals 3 conmon all running at 100% CPU.

At this point there are no

[2020-01-13 07:04] rlpowell commented on #114
I'm having the exact same issue.

[2020-01-13 15:14] haircommander commented on #114
can you try a version with: https://github.com/containers/conmon/pull/90 (v2.0.4 or higher)

[2020-01-13 15:41] rlpowell commented on #114
I don't know if this matches your request, but I've restarted and it hasn't come back, and my system is now running:

conmon.x86_64                                                                                            2:2.0.2-1.fc31

Pretty sure I updated that in the meantime.

[2020-01-13 15:43] haircommander commented on #114
that's still conmon 2.0.2 unfortunately. 2.0.4 is needed for the fix.

[2020-01-13 16:06] sstelfox commented on #114
Looks like the Fedora testing repos jump straight to 2.0.9:

[code]

I'll give that package version a go today and see if I can reproduce it.

[2020-01-14 17:29] sstelfox commented on #114
Alright cool. After updating to 2.0.9 I haven't been able to reproduce the issue. Seems like its already been fixed! Just needs to get downstream. Thanks!

[2020-01-14 17:29] #114 closed

[2020-02-10 19:03] steadysupply opened #119 "Pipe to cri-o container hangs"
https://github.com/kubernetes/kubectl/issues/810, https://github.com/cri-o/cri-o/issues/3175 ← 👶

Following on from the issues above, piping to a cri-o container using either `kubectl` or `crictl` leads to a variable delay (in the realm of 2-35 seconds) before handing back to the calling terminal.

To reproduce, start some temporary pod with eg.
[code]
and pipe something to the container with `kub

[2020-02-10 19:03] steadysupply commented on #119
@giuseppe

[2020-02-10 19:42] steadysupply commented on #119
Just for completeness/context, bootstrapping a virgin cluster with containerd as the runtime gives
[code]
as expected.

[2020-02-18 16:01] steadysupply commented on #119
Closing, since it looks like this has been fixed upstream (or downstream, or sidestream, not sure of the lineage). Ref: https://github.com/cri-o/cri-o/issues/3175

[2020-02-18 16:01] #119 closed

[2020-02-22 03:33] hswong3i opened #120 "Any Statically Linked Pre-Complied Binaray for Download?"
Similar as runc (https://github.com/opencontainers/runc/releases/tag/v1.0.0-rc10) and cri-o (https://github.com/cri-o/cri-o/releases/tag/v1.17.0) which now provide pre-complied statically linked binary for download, could we also have that for conmon so simplify the difficulties for cross-OS deployment?

[2020-02-22 12:28] rhatdan commented on #120
Please open a PR to make this happen.

[2020-02-29 06:47] drakedevel opened #123 "Race condition in timeout leads to killing all processes on system"
We hit this on conmon 2.0.10.

## Symptoms

We've been experiencing an issue on a new CRI-O based Kubernetes cluster where, occasionally, a node would have _every_ user-land process (except init) killed with SIGKILL. This was most likely to happen during a rolling restart as we deployed new code. Our first thought was some sort of memory exhaustion issue, but this was happening on nodes with lots

[2020-03-02 14:39] saschagrunert commented on #120
Right now Cirrus provides a static artifact, like for the latest release here: https://cirrus-ci.com/task/4743976339111936

I put that binary at the release page: https://github.com/containers/conmon/releases/tag/v2.0.10

[2020-03-02 15:15] #123 closed

[2020-03-02 21:48] #120 closed

[2020-03-04 19:27] ruskofd commented on #67
Same issue, but on Fedora 31 Workstation with Podman 1.8.0 now.
[code]
[code]
[code]

[2020-03-07 13:24] hikhvar opened #126 "Debian package provided by kubic is broken"
The conmon package does not contain any binary. Only docs:
[code]

[code]

The package 2.0.11-2 contained in the stable repository has the same issue. Who can I talk to to have this fixed?

[2020-03-08 22:00] mheon commented on #126
@lsm5 PTAL

[2020-03-09 11:09] lsm5 commented on #126
sorry about that. Fixed now, see: https://github.com/containers/libpod/issues/5422#issuecomment-596461686 .

[2020-03-17 22:16] hikhvar commented on #126
Ok, it is fixed. Closing this issue.

[2020-03-17 22:16] #126 closed

[2020-03-27 05:04] gattytto opened #134 "gVisor stderr "broken pipe" EPIPE upon container closure"
hello, there's this issue: https://github.com/google/gvisor/issues/2233

The issue is around cri-o and gVisor(runsc) containers using conmon, in the loggs attached to the mentioned issue there seems to be some process closing the stderr pipe before the container kernel receives the SIGKILL which results in a unclean exit of the container. cri-o has other runtimes (runc and kata-containers) registe

[2020-03-27 14:59] haircommander commented on #134
so conmon is responsible for initializing the container and keeping track of it (the process that is the parent of the container process). but the container manager (CRI-O, in your case) is responsible for killing it.

I am suspicious of [this](https://github.com/containers/conmon/pull/128/commits/85c9a125444042504a2c8c1111179663a322f497) commit (as it has to do with SIGPIPE) and am wondering if y

[2020-03-27 16:24] gattytto commented on #134
this topic is very interesting and it will  be very helpful to have a detailed documentation around this pipeline, since cri-o acts as runtime broker and delegates everything to runtime binaries with arguments. This specific use case makes 2 different cals, runsc and conmon. In this scenario it seems like it's conmon who takes the job of providing the pipes

https://github.com/containers/conmon/bl

[2020-03-27 16:41] gattytto commented on #134
now trying what you sugested:
[code]

[2020-03-27 17:17] gattytto commented on #134
using 2.0.12 there's no broken pipe error, but neither a graceful stop of the container within the pod, so the container is a initcontainer, it needs to gracefully stop for the next one to start.

[2020-03-27 17:22] haircommander commented on #134
ah hah, that's probably because conmon is killed from the SIGPIPE, so it never reports the exit code for the container.

@giuseppe advised to ignore SIGPIPE because it's his belief that it's the runtime's duty to handle it, and https://github.com/containers/conmon/issues/134 indicates gvisor handles SIGPIPEs in an unexpected way.

do you have any thoughts on this @giuseppe ?

[2020-03-27 17:23] haircommander commented on #134
my diagnosis is CRI-O closes its end of the pipe, which would give SIGPIPE to conmon, but conmon is ignoring it. Then, when runsc writes, it gets the SIGPIPE, and errors in the way above. runc and kata seem to handle this case.

[2020-03-30 06:21] chengkuangan opened #136 "Error building podman inside Docker container using the latest conmon."
I am doing a build inside Docker container and face the following errors during build time. This is working fine with v2.0.14
COMMAND:
git clone https://github.com/containers/conmon \
&& cd conmon \
&& make \
&& make podman

ERROR:
mkdir -p bin
cc -std=c99 -Os -Wall -Wextra -Werror -I/usr/include/glib-2.0 -I/usr/lib/x86_64-linux-gnu/glib-2.0/include -DVERSION=\"2.0.15-dev\" -DGIT_COMMIT=\""89b2478

[2020-03-30 13:07] haircommander commented on #136
thanks for the issue @chengkuangan, can you try the version in https://github.com/containers/conmon/pull/137 and let me know if it fixes it for you?

[2020-03-30 14:02] chengkuangan commented on #136
@haircommander This works for me. The issue gone. Thanks

[2020-03-30 14:19] tedyu opened #138 "Unable to run conmon test on Fedora"
I use Fedora.
Under conmon local repo (as of commit 89b2478b507c6f285cd97ae8e55c85b9cafe6e81), I ran:
[code]

[2020-03-30 14:19] tedyu commented on #138
/cc @giuseppe

[2020-03-30 14:31] haircommander commented on #138
to pass this you'll need to download systemd-devel. Though that's actually a problem with the test (it shouldn't fail if conmon wasn't compiled with systemd-devel)

[2020-03-30 14:40] tedyu commented on #138
[code]

[2020-03-30 14:52] haircommander commented on #138
interesting. what's the output of
`pkg-config --libs libsystemd`

[2020-03-30 14:58] tedyu commented on #138
[code]

[2020-03-30 15:21] haircommander commented on #138
what's the output of `make`?

[2020-03-30 15:27] tedyu commented on #138
[code]
I tried 'make test' again and got same error as last week.

[2020-03-30 15:31] haircommander commented on #138
try
`rm /usr/bin/conmon && make install PREFIX=/usr`

[2020-03-30 15:36] tedyu commented on #138
Tests pass now

[2020-03-30 15:36] #138 closed

[2020-03-30 18:34] #136 closed

[2020-04-09 08:00] hswong3i opened #142 "Ansible Role for conmon"
I am now maintenance an Ansible Role for conmon installation (https://github.com/alvistack/ansible-role-conmon), by downloading the static binary release archive and extract it for following OS:
- Ubuntu 16.04/18.04/19.10
- CentOS/RHEL 7/8
- openSUSE 15.1

Could we also introduce this as an alternative installation method, e.g. under https://github.com/containers/conmon/blob/master/install.md#conm

[2020-04-09 13:17] haircommander commented on #142
@hswong3i this is awesome, I would be happy to have it added. Do you have interest in submitting a PR?

[2020-04-22 14:38] hswong3i commented on #142
@haircommander thank you for your interest and PR created (#143) please kindly comment ;-)

[2020-04-29 08:46] mildred opened #144 "conmon keeps container ports opened after container death"
I'm trying to use podman-compose to develop a compose file for an application, and I'm having issues when I try to start single containers after `podman-compose up` failed. I'm having an issue like that:

[code]

And when I look, port 3000 is held by conmon that keeps running for the previous version of the same container that exited long ago.

I believe conmon should not keep opened ports for sto

[2020-04-29 17:41] haircommander opened #145 "conmon doesn't forward errors from runtime"
continuing conversion [here](https://github.com/cri-o/cri-o/issues/1257)

[2020-04-29 17:45] haircommander commented on #144
interesting that the port is kept open in conmon, as conmon didn't open them. The port ownership must have been reparented to conmon when the container died.

Thanks for the issue, I'll try to look at it this week.

[2020-04-29 17:49] mheon commented on #144
We're actually passing file descriptors for the ports on the host into Conmon by default on the Podman side (as root, at least). CNI does its port-forwarding magic entirely in iptables, and as a result it's perfectly possible to have port 80 forwarded to a container and still have someone open it on the host (where it will receive no traffic, because iptables is routing it into the container). To

[2020-05-01 21:01] haircommander commented on #144
@mildred in order to reproduce, I think I need to have your podman compose file. The real issue here is that conmon is not exiting when the container is exiting (or is exiting before it cleans up the fds)

[2020-05-02 12:16] mildred commented on #144
That's a bit tricky as it involves source code I cannot give access to.
Basically it involves running podman-compose as root on a Rails app
(pretty standard stack). Some containers are failing to start and in the
end I get conmon holding port 80 while there is no container running on
that port.

[2020-05-02 13:24] haircommander commented on #144
If you are able to get me a simple reproducer that doesn't show any secrets it would aid a lot in my debugging. I'll try my best otherwise

[2020-05-12 18:52] #142 closed

[2020-05-21 05:58] hswong3i opened #156 "Static Build with nix Package Manager"
From CRI-O toolchain point of view following packages already coming with "nix Package Manager" (https://nixos.org/nix/) for static build support:
- crun (https://github.com/containers/crun/pull/366)
- Podman (https://github.com/containers/libpod/pull/5566)
- CRI-O (https://github.com/cri-o/cri-o/pull/2270)

As long as conmon already coming with static build support in Podman style (https://github

[2020-05-21 05:59] hswong3i commented on #156
@saschagrunert @giuseppe any idea?

[2020-05-22 12:29] saschagrunert commented on #156
I played around with some derivations and this would work:

[code]

The build will take some time because we had to overwrite pcre which is part of stdenv. Anyhow, the result is a static binary:

[code]

[2020-05-22 15:52] hswong3i commented on #156
@saschagrunert with a clean new nix install above derivations take very very very long time... Any chance if we could simplify it as like as https://github.com/containers/conmon/blob/master/install.md#debian-ubuntu-and-related-distributions?

[2020-05-22 16:25] saschagrunert commented on #156
Hm, we could either:
- pre package the dependencies in a container image
- use something like [cachix](https://cachix.org), but this requires local configuration changes before installing
- remove glib from conmon (I would prefer that)

[2020-05-23 00:14] hswong3i commented on #156
Hmm... This looks like chicken or the egg again for me...

So how much size of result files need to be cached or installed? Since https://github.com/containers/conmon/releases/download/v2.0.16/conmon just 897KB, IMHO caching and install something more than 50MB should be overkilled?

I vote for this too. BTW when compare with the build dependency with CRI-O (see https://github.com/cri-o/cri-o/blob

[2020-05-23 11:55] hswong3i commented on #156
@saschagrunert Ok i got the trick that now conmon static are using (see https://github.com/containers/conmon/blob/master/Makefile#L48-L65):
[code]

That's because conmon static build now based on Alpine's `glib-static` (https://pkgs.alpinelinux.org/package/edge/main/x86/glib-static) which should be musl-based?

In case of nix-based could we also compile with musl but not glibc?

[2020-05-24 08:49] hswong3i commented on #156
@saschagrunert I am now referencing https://github.com/cri-o/cri-o/blob/b99dd3cb2317a71a34d745520cf74fc1a507408b/nix/default.nix with `pkgsMusl` for #157:
[code]

But coming with following error message:
[code]

May you share some hints for compiling with musl, as what we had for CRI-O before?

[2020-05-25 07:10] saschagrunert commented on #156
Looks like that the muslPkgs got broken on the current master branch of nixpkgs. When testing with an earlier commit like this then it will work:
[code]

In any case, building with musl will result in an even longer build time than my proposed way because we will rebuild everything by hand.

[2020-05-25 11:28] hswong3i commented on #156
Yes building with musl looks much simple stupid for maintenance, but take much much longer time for compile :-(

@saschagrunert I am now rolling back #157 as your https://github.com/containers/conmon/issues/156#issuecomment-632667041 ;-)

[2020-05-26 13:53] #88 closed

[2020-05-26 13:54] haircommander opened #159 "conmon should support syslog and none log drivers"
It should also support more, but these log drivers should be fairly trivial to implement

[2020-05-27 20:39] npmccallum opened #162 "Timeout feature"
I'm looking for a timeout feature for conmon. Specifically, I want conmon to kill the container if it doesn't exit before a timeout period elapses.

Currently, conmon has a [mostly undocumented command line option](https://github.com/containers/conmon/blob/27eb3044c0ec0b7df9e936ab7658f4290ae42f35/src/cli.c#L85) `--timeout`. It is not clear what this feature actually does. But I suspect that it jus

[2020-05-27 20:39] #156 closed

[2020-05-27 21:06] haircommander commented on #162
this timeout is used for the a detached exec, where conmon is expected to exit before any of the container logs are accessed. (ref)[https://github.com/cri-o/cri-o/blob/master/internal/oci/runtime_oci.go#L409]

the timeout does kill the container_pid [ref](https://github.com/containers/conmon/blob/27eb3044c0ec0b7df9e936ab7658f4290ae42f35/src/conmon.c#L438), but, again, it's only used for an exec. I

[2020-05-27 21:44] npmccallum commented on #162
Correct. I've opened an issue with podman above.

[2020-05-27 21:44] #162 closed

[2020-05-29 17:29] marshallford opened #165 "unknown type name int64_t (build regression between 2.0.13 and 2.0.17?)"
I am running into an error when building version `2.0.17` from source. The error didn't occur with version `2.0.13`. I'm hesitant to call this a regression as it is far more likely that I did something wrong. Both builds ran inside the same container image, `golang:1.13.8-alpine3.11`.

Thank you!

[Error:](https://circleci.com/gh/marshallford/podman/42)
[code]

[2020-05-29 19:15] haircommander commented on #165
we may need to do #include <stdint.h>
[ref](https://github.com/clearlinux/cve-check-tool/issues/12)

can you try that @marshallford ?

[2020-05-29 19:15] haircommander commented on #165
it's likely we've just been building with a more forgiving compiler, which means it should be fixed :slightly_smiling_face:

[2020-05-29 19:18] cgwalters opened #167 "infinite loop in eventfds"
I have

[code]

(On a locally built f32 silverblue style system)

Seeing this after I exited one of my toolbox containers from conmon, it's looping infinitely using 100% of one core:

[code]

Stack trace looks like:

[code]

I think this must be something like incorrect file descriptor management; something like conmon managing to add GLib's own internal eventfd to the mainloop set.

[2020-06-03 18:00] marshallford commented on #165
@haircommander Great catch, I was able to compile in the container image after including `stdint.h` in a couple of spots. I opened a PR that addresses the issue.

[2020-06-03 18:12] cgwalters commented on #167
It only happened once, I didn't try to reproduce.

[2020-06-03 18:30] #165 closed

[2020-06-13 18:27] goochjj opened #174 "conmon log-parsing enhancements"
Add a lot of logic and checks to log-path.

Issues:

`--log-path ""` segfaults
`--log-path :` segfaults
`--log-path k8s-file:` writes to a file called k8s-file (instead of asking for a path)
`--log-path k8s-file` writes to a file called k8s-file (instead of asking for a path)
`--log-path :journald` turns on journald logging, instead of writing to a file called "journald"

PR prepared to resolve al

[2020-06-13 18:28] goochjj commented on #174
PR #175

[2020-06-13 18:32] goochjj opened #176 "conmon syslog proxy"
With respect to container logging and /dev/log, conmon is our proxy layer - it maintains the stderr/stdout/stdin fd's, allows console connections and attachments, and proxies those logs from the container's cgroup+namespaces up into the host's journald/syslog/whatever.  This maintains appropriate metadata (i.e. systemd units and LogExtraFields)  for messages generated from the conmon process.

Bin

[2020-06-13 18:38] goochjj commented on #176
pr #177

[2020-06-13 18:39] goochjj commented on #174
@haircommander PTAL

[2020-06-15 13:48] haircommander commented on #176
in general the approach makes sense to me, one clarifying question:

doesn't the journald logger add `CONTAINER_{NAME,ID,TAG}`? When proxying to syslog, can we not pass those values along too?

[2020-06-15 20:25] goochjj commented on #176
It does - it can do that because it's passing fields directly to the JOURNALD socket, NOT /dev/log.

i.e. it writes
MESSAGE=blah
PRIORITY=something
CONTAINER_ID=id
CONTAINER_NAME=name
CONTAINER_ID_FULL=fullid
\0

to the /run/systemd/journal/socket socket.

In this way conmon is purposely adding those tags (and CONTAINER_TAG too) to every message as its written to the socket.

The syslog format doe

[2020-06-18 19:31] goochjj commented on #176
Superceded by using a hook
Also superceded by using https://github.com/containers/libpod/pull/6666 and conmon-delegated, with a bind mount.

[2020-06-18 19:31] #176 closed

[2020-06-18 19:33] goochjj commented on #174
Closed by #175

[2020-06-18 19:33] #174 closed

[2020-06-19 17:30] RikiReal opened #180 "Conmon is unable to ensure iptables rules (Permission denied, you must be root)"
Hello!

I have setup a single-machine Kubernetes cluster. I am using CRI-O as a container runtime and podman as a replacement for Docker. As my network-plugin I use flannel. When I check the logs using journalctl I get the following error over and over again:

[code]
A quick internet search didn't produce any results. When I try to execute the command manually I get the following error.

[code]
Ho

[2020-06-19 17:39] haircommander commented on #180
thanks for opening the issue and trying out our tools @RikiReal
are you running cri-o (which I assume is the manager that the flannel pods are running under) as root?

[2020-06-19 17:56] RikiReal commented on #180
@haircommander Thanks for the quick response.

Yes, I am. The process runs as the root user.

[code]

[2020-06-19 18:12] haircommander commented on #180
what's the `iptables --version`?
also, what's the status of the flannel containers (output of `crictl ps -a` will do)

[2020-06-19 18:26] RikiReal commented on #180
### iptables
[code]
Strange... This iptables version is different than the iptables version mentioned in the logs.
If I check the version the pod is using I get the following:

[code]

### crictl
I restarted my system recently.

[code]
### Firewalld
If it helps I am using firewalld.

[code]

[2020-06-19 18:40] haircommander commented on #180
out of curiosity, what happens when you disable firewalld?

[2020-06-19 18:41] haircommander commented on #180
note: this is not actually a failure in conmon, conmon just happens to be reporting it. it's the container failing to configure iptables rules on your host. I don't know why yet.

also, what happens when you add `NET_RAW` to `default_capabilities` in your /etc/crio/crio.conf

[2020-06-19 19:23] RikiReal commented on #180
First I added `NET_RAW` to the `default_capabilities`. Then I restarted the CRI-O and kubelet services and nothing changed. I then did `kubeadm reset` and reinitialized the cluster because I messed something up. I couldn't get a connection with the kubectl anymore after I restarted it.

However, the error was gone and I got another one instead:

[code]
A pod (CoreDNS) is trying to reach the DNS se

[2020-06-19 19:28] haircommander commented on #180
CRI-O tries to run as secure as possible by default. that involves dropping capabilities that docker has had by default for years. We recently dropped MKNOD and NET_RAW in 1.18, and are finding places where that breaks things. for instance, there's also https://github.com/cri-o/cri-o/issues/3872

unfortunately, I'm not familiar enough with firewalld to know what you're supposed to do to save it, t

[2020-06-19 19:35] haircommander commented on #180
can you do me a favor @RikiReal ? are you able to change the flannel DeploymentSpec adding NET_RAW to the capabilities like so:
[code]

and then remove it from `default_capabilities` in the crio.conf?
I'm preparing a PR for flannel, and want to make sure these changes fix it

[2020-06-19 19:41] #180 closed

[2020-06-19 19:43] RikiReal commented on #180
@haircommander What do you mean exactly? Do you mean I should add those capabilities in the .yaml file?

[2020-06-19 19:45] haircommander commented on #180
yes please!

[2020-06-19 19:53] RikiReal commented on #180
I edited the file and then I did `kubectl apply -f new-flannel.yaml`. I also removed it from the crio.conf file. Then I restarted the CRI-O service and checked journald. Everything seems to work now.

Do you want me to do `kubeadm reset; kubeadm init` and see if it will work from scratch?

[2020-06-19 19:54] haircommander commented on #180
nope that should be sufficient, thank you!

[2020-06-29 16:28] haircommander opened #184 "add man page"
conmon could use a man page. while it's not really intended to be called by the end user, other documentation often references to it, like [discussed here](https://github.com/containers/libpod/pull/6666#discussion_r447025534)

[2020-06-29 17:30] TomSweeneyRedHat commented on #184
@mheon @baude can you comment on what you'd like to see (or not see) in this man page?  I know you'd some concerns/thoughts in the standup and I want to make sure they're covered here.  I think the main issue was to discourage people from using conmon directly, that its sole design was for use with Podman.   Any other use should not be supportable.

[2020-06-29 17:53] mheon commented on #184
We should *not* go into details on arguments and use, IMO. Manpage should make it clear that we do not intend that this be called directly, only by Podman and CRI-O, and that it has been tuned exclusively for those uses.

[2020-07-21 01:17] RaghavRao opened #187 "Toolbox: failed to write to /proc/self/oom_score_adj: Permission denied - The error returns!"
I've seen this bug pop and be "resolved" but on Fedora 32 with  podman-2.0.2-1.fc32 and fuse-overlay 1.1.2 I still get this pesky `Error: failed to start container fedora-toolbox-32`

I rm'd .local/share/containers and .config/containers and killed podman but to no avail

[2020-07-21 03:12] mheon commented on #187
Why is this filed against `containers/conmon`? This sounds like a Podman issue.

The warning here is 100% expected and normal with rootless containers. It is not indicative of a real failure. The actual failure would be contained in the Podman error message.

[2020-07-21 03:47] RaghavRao commented on #187
Ah apologies. I filed it here because the only line about an error was ` conmon c3e7c69b367f1e370bb6 <error>: Failed to create container: exit status 1` so I assumed it was conmon. To be honest I'm not entirely sure what the difference between the two are. I also realize I forgot to paste more of the log:

[code]

How would I access the podman logs? There's no service for it, toolbox -vvvv doesn't

[2020-07-21 03:51] mheon commented on #187
Just doing a `podman start --log-level=debug fedora-toolbox-32` should be sufficient.

[2020-07-27 08:40] dusansimic commented on #144
I've encountered the same problem when running tests for [Gnomock](https://github.com/orlangure/gnomock). Since Gnomock connects to `docker.sock` to start and stop containers, I've needed to create `podman.sock` with `sudo system service -t 0`. Also I've installed `podman-docker` package which links `/run/docker.sock` to `/run/podman/podman.sock`. This should all work fine but when I run tests I g

[2020-07-28 20:38] haircommander opened #192 "nix build fails"
on latest master

[code]

[2020-07-29 06:56] saschagrunert commented on #192
/assign

[2020-08-05 13:35] zhangguanzhang opened #195 "There will be extra characters when podman run with `--tty`"
https://github.com/containers/podman/issues/7196#issuecomment-669016830

[code]
The problem seems to be here
https://github.com/containers/conmon/blob/master/src/ctr_logging.c#L355-L360
@rhatdan PTAL

[2020-08-05 14:17] haircommander commented on #195
thanks for opening the issue @zhangguanzhang! I am not so sure it's that line in particular. if you look at the log line:
[code]
we see it's a `full` log line (signified by the F after stdout). if it was a partial line, it would be `P`

If you look at that line, it checks `if (partial)` which means we only append the newline if it's a partial line.

I believe this line is from interpreting the ter

[2020-08-05 14:27] psakar commented on #195
It happens only for one liner, it is gone in case two lines are printed
[code]

[2020-08-05 14:35] psakar commented on #195
podman run --rm --tty busybox echo -n 1 | cat -A also works as expected. Seems only the case when output is single line (can be empty) with new line at the end is wrong

[2020-08-05 14:40] mheon commented on #195
Hm. Tend to agree this is Podman reading the log line incorrectly.

[2020-08-06 03:49] AkihiroSuda opened #196 "v2.0.20 binary is missing"
Could you upload v2.0.20 binary as in v2.0.19?
https://github.com/containers/conmon/releases

Also it would be good if the binaries are signed with GPG.

[2020-08-06 10:17] saschagrunert commented on #196
Sorry for the inconvenience, I uploaded the binary to the release.

[2020-08-06 10:17] #196 closed

[2020-08-06 10:18] AkihiroSuda commented on #196
thanks!

[2020-08-07 19:31] wdouglascampbell opened #204 "pasting large amount of text into vim running inside of podman hangs container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When pasting a large amount of text into a container environment (usually while editing a file in vim but also to a /bin/bash and /bin/sh shell prompt)  the session hangs and there is no way to cancel, quit, exit, etc.

**Steps to reproduce the issue:**

1.  run a busybox container
[code]

2.

[2020-08-24 13:31] #192 closed

[2020-09-08 14:28] vrothberg commented on #204
Now moved over to conmon.

@haircommander, do you have cycles to tackle the issue? More users seem to hit it.

[2020-09-08 20:32] haircommander commented on #204
I am not sure I have the cycles soon, so if y'all have anyone who can look at it, that would get this fixed faster. I will try to take a look in the coming weeks if not.

[2020-09-09 09:04] saschagrunert opened #206 "Static binary not uploaded in cirrus"
The run for the static binary seems to succeed, but we have no binary being uploaded:
https://cirrus-ci.com/task/6040168039710720

cc @hswong3i

[2020-09-14 14:01] #206 closed

[2020-10-06 09:58] rhatdan opened #211 "Improve --log-size-max handling"
Currently conmon just truncates the log file when max is reached, this means we loose all of the data.

I think we should allow for a backup file.  So when log-size-max is reached we rename the existing file to a .1 version.  Now when the user reads the full log file they would read the .1 file first and then the main log file.  This would mean we would always have log-size-max data available, aft

[2020-10-06 09:59] rhatdan commented on #211
Docker also handles an addition field to indicate the number of backup files, I believe.

[2020-10-07 07:43] vrothberg commented on #211
That answers the immediate question I had in mind: How do we set a limit to protect from running out of disk space?

SGTM

[2020-10-12 13:44] haircommander commented on #211
the approach sounds good, as long as the behaviour is gated by a flag. In the k8s world, kubelet handles the renaming of the files, so we should preserve existing behaviour unless otherwise specified

[2020-10-12 13:45] haircommander commented on #211
another thing to think about is how to handle the metadata. does docker truncate based on file size or based on size of log line? regardless, we'll have differing behaviour until conmon actually supports json-file

[2020-10-22 17:17] egreen77 opened #213 "Failed to remove existing attach socket"
Firstly, I noticed that this section of `conmon` was recently refactored in 59c2817b70746e78d5957d3c275e6385697224d1. I haven't tried to replicate this issue with that version but suspect that those changes would also fix this error. I'm submitting this issue primarily as an advisory and to help anyone else who might run into this problem.

Environment:
[code]

One of our users has been reporting

[2020-10-22 20:11] haircommander commented on #213
the bad news: the refactor will not fix this issue. the good news: the refactor will make fixing this issue much easier!

[2020-11-12 21:01] #213 closed

[2020-11-27 12:45] pmoogi-redhat opened #217 "podman run --conmon <path-of-conmon-binary> not working"
I create a custom compiled binary of conmon from conmon latest repo
When using podman with this customer conmon binary using the above command line option, it is not reflecting those changes in the conmon.

podman --version
podman version 2.1.1

Custom conmon binary:
conmon version 2.0.22-dev

[2020-11-30 15:12] haircommander commented on #217
hey @pmoogi-redhat when you run podman with `--log-level debug` it shows the conmon path it chose. what is the output of `podman --log-level debug --conmon <path> run alpine ls`

[2020-12-04 04:10] pmoogi-redhat commented on #217
it shows /usr/local/libexec/podman/conmon

[2020-12-04 14:25] haircommander commented on #217
come to think of it I think it is `podman --conmon ... run...`

[2020-12-04 14:27] haircommander commented on #217
also it needs to be a full path for the binary to get picked up, not relative

[2020-12-16 09:10] codemaker219 opened #221 "conmon high cpu after a container exec via the rest API"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

After multiple exec on a container, conman processes sporn that take 100% CPU for 5 mins

**Steps to reproduce the issue:**

1. Create a container `podman run --rm --name test -d docker.io/nginx`

2. Start the service for the REST API `podman system service tcp:0.0.0.0:8090 -t0`

3. Do MULTIP

[2020-12-18 15:25] giuseppe commented on #221
PR here: https://github.com/containers/conmon/pull/222

[2020-12-18 18:13] giuseppe commented on #217
yes, the conmon argument must be to podman, not to run:

`podman --conmon /path/to/conmon .. run ..`

I am going to close the issue, please reopen if it still doesn't work

[2020-12-18 18:13] #217 closed

[2020-12-18 18:39] giuseppe commented on #204
opened a PR: https://github.com/containers/conmon/pull/223

[2020-12-21 20:31] #204 closed

[2020-12-28 13:18] #221 closed

[2021-01-04 07:38] ksdd opened #225 "Release v2.0.22 fails to run under Ubuntu 18.04"
Release v2.0.22 fails to run under Ubuntu 18.04 with the following error message

I tested the binary provided by the [recommended repo](https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_18.04) as well as the [official release binary](https://github.com/containers/conmon/releases/download/v2.0.22/conmon-2.0.22.zip). Both fail to run with the same error.

BTW: W

[2021-01-04 14:27] haircommander commented on #225
how are you running conmon? is this with podman or CRI-O?

[2021-01-04 15:09] ksdd commented on #225
I run it via podman.

[2021-01-04 15:28] haircommander commented on #225
what was the podman command you used? and what was the podman version?

[2021-01-05 21:32] haircommander commented on #225
okay so I see now this was an unintended breaking change, and also easily reproducable. I will need to consult with the over developers on how best to handle it.

[2021-01-05 21:32] haircommander commented on #225
thanks for your patience

[2021-01-11 21:06] haircommander commented on #225
I've opened https://github.com/containers/conmon/pull/226 to fix

[2021-01-12 06:39] ksdd commented on #225
Great! Thank You.

[2021-01-15 06:41] mario19911 opened #230 "Failed nix builds"
Hello,

I had some troubles building the static version with nix - I always had some problems that one package could not be built... (I took the version from master)

I saw that you are using a cache for the nix stuff during the pipeline build - is there some possibility to get this cache to reproduce the same build on another machine?

[2021-01-15 08:36] saschagrunert commented on #230
Hey, can you please paste the failure here that we can have an idea what is going wrong?

Unfortunately not, we were considering using cachix but never got that far.

[2021-01-15 10:37] mario19911 commented on #230
Sure, so my call to nix is like for cirrus:
nix --print-build-logs --option cores 8 --option max-jobs 8 build -v --file nix/

These are the last log lines, or do you need the complete build log?

2021-01-15T10:28:34.0538842Z [0m[91mbuilder for '/nix/store/sq79dx4d7kbnvqi9xk1jyhn164n10fz6-perl5.32.0-libwww-perl-6.47.drv' failed with exit code 2; last 10 log lines:
2021-01-15T10:28:34.0539337Z
202

[2021-01-15 11:33] chax opened #231 "PREFIX is not propagated to docs/Makefile"
If i set PREFIX when building, it does not propagate to Makefile for docs, so it installs on default location.
By changing this simple thing, the problem is fixed:

https://github.com/containers/conmon/blob/0331601d5767a3506f5a9c1d03adb44f9b24b94b/docs/Makefile#L1

Change to:
[code]

[2021-01-15 12:02] rhatdan commented on #231
Could you open a PR to make the change?

[2021-01-15 12:05] chax commented on #231
yes

[2021-01-15 14:15] #231 closed

[2021-01-21 07:44] ksdd commented on #225
Hi @haircommander,

today I've got an update of conmon to version 2.0.24 via [the mentioned repo](https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_18.04). I've seen, that #226 was merged before 2.0.24 was released. So I hoped, this issue is fixed. Unfortunately this is not the case. I get the same error as before. Are there still fixes needed or was it suppose

[2021-01-21 14:22] haircommander commented on #225
unfortunately, the  only way to preserve backward compatibility is to gate the new behaviour (that would fix your bug) behind a flag, meaning we also need a corresponding podman PR to fix your issue. that PR is here https://github.com/containers/podman/pull/8979 and I'd like to make it in before podman 3.0 release :)

[2021-01-21 17:59] ksdd commented on #225
Okay, thank you. So I will wait for a new podman release and stick to the older conman version meanwhile.

[2021-01-30 13:51] olivier-m opened #236 "output hanging"
Hi,

Since after version 2.0.22 a large amount of data in stdout/stderr hangs the output and all I can do is ctrl+c and podman kill the container.
Here's how to reproduce:

`podman run -rm -ti alpine`

Once in the shell:

`find /`

I also encountered issues with vscode trying to reconnect to a container (it might be related) and failing a lot.
The same steps with 2.0.22 work just fine.

I investig

[2021-02-01 14:29] haircommander commented on #236
@giuseppe can you PTAL

[2021-02-01 21:33] justinkb commented on #204
this broke conmon for me: see here https://github.com/containers/podman/issues/9183

[2021-02-01 21:57] justinkb commented on #236
caused by 6287bd884d9bf29e76ac877e0c7e6aad04bc24a4, see my investigation here

https://github.com/containers/podman/issues/9183

reverting it (applies cleanly) fixes the issue entirely

[2021-02-02 10:48] giuseppe commented on #236
this part of the code is a mess :(

Opened a PR: https://github.com/containers/conmon/pull/237

[2021-02-02 15:21] #236 closed

[2021-02-02 17:33] justinkb commented on #236
I will try your fix later tonight!

[2021-02-08 13:20] olivier-m commented on #236
Just tried with 2.0.26 today and it works! Thank you :)

[2021-02-23 14:03] baude opened #240 "podman restart with port bindings results in 'port in use' errors"
Sometimes when restarting a container with podman restart, it results in a `port already in use` error.  It seems like you need to have an application in the container that takes a little longer to execute to trip it more reliably.

Reproducer

[code]

split from containers/podman#9465

[2021-02-27 00:46] liewegas opened #242 "extra newlines in logged container output"
container output, as seen in journald, has random newlines inserted.

**Steps to reproduce the issue:**

There is probably a simpler way to do this, but this is what I did:

1.
[code]
2. ``systemctl start conmon-test``
3. ``journalctl -u conmon-test``

**Describe the results you received:**

Output has random newlines.  For example:

[code]

and

[code]

The number of newlines seems to vary.. in m

[2021-03-01 16:54] haircommander commented on #242
very odd, I am unable to reproduce this behavior on fedora 33 and systemd 246 (with conmon 2.0.26 + podman 3.0.0/2.2.1)

what is the host OS and systemd version?

[2021-03-01 18:31] liewegas commented on #242
[code]
just now but i've seen the same behavior on ubuntu too.

[2021-03-01 18:48] liewegas commented on #242
also
[code]
split output lines look like
[code]

[2021-03-01 19:27] #240 closed

[2021-03-02 00:39] huww98 commented on #242
To reproduce, try this:

repo_242.cpp
[code]

Dockerfile
[code]

Run:
[code]

It will show something like:
[code]

[2021-03-03 16:38] haircommander commented on #242
Okay I've also reproduced. Looking at the code, the fix is not trivial, and I don't think I have the cycles to tackle it right now. Does anyone want to take a shot? the root of the issue is we call a read() to read the stdout/err from the container, and that read doesn't wait for alll the output before returning. We'd need to implement some sort of buffer for the journald log driver to save the da

[2021-03-03 21:27] rhatdan commented on #242
@giuseppe PTAL

[2021-03-04 10:21] giuseppe commented on #242
is it what we want though?

With buffering we risk that a message that has no `\n` won't be printed, or be printed with delay

[2021-03-04 14:39] liewegas commented on #242
In the example above, perhaps conmon should print ``Mar 02 08:34:59 gpu024 conmon[31672]: This should be``, wait for more input, and then `` on the same line\n`` (i.e., do not insert ``\nMar 02 08:35:00 gpu024 conmon[31672]: `` in the middle of a line of output).

[2021-03-04 16:25] huww98 commented on #242
I think breaking a log line in the middle is unacceptable. This will break any existing log analysis tools, and make the log much harder for humans to interpret. We may need to flush the buffer when the program exits to avoid losing any message.

Anyway, if the stdout is connected directly to journald, journald will do buffering, too (Can be verified by running the above test program with `systemd

[2021-03-06 12:47] chenk008 commented on #145
I have confused why drain mainfd_stderr after mainfd_stdout? If mainfd_stdout has continuous data, mainfd_stderr will not be sync?
https://github.com/containers/conmon/blob/master/src/ctr_stdio.c#L86

[2021-03-08 01:38] paulnivin opened #244 "conmon regression in 2.0.24 causing Kubernetes exec probes in cri-o to fail"
conmon stopped working in Lyft's environment (Fedora 32 w/ cgroupsV1, Kubernetes 1.16, cri-o tip of 1.16 branch w/ cgroupfs) when https://github.com/containers/conmon/pull/222 landed. Specifically, Kubernetes exec probes now always error out.

Running conmon at 0f092d5446fdadb761b8143b5c4b1d1ac9793f29 results in all exec probes failing with:
[code]
Building and running conmon at the immediately pr

[2021-03-08 14:35] haircommander commented on #244
uh oh! can you try with https://github.com/containers/conmon/pull/241? I believe it should fix your problem

[2021-03-08 14:36] haircommander commented on #244
cri-o has lagged quite a bit, because most of the version churn has been for podman. I will look into bumping conmon in cri-o once we package that PR

[2021-03-08 14:42] haircommander commented on #145
I can't think of a reason to leave it that way. Are you running into an issue where reading stdout may be blocking reading stderr?

[2021-03-08 17:37] paulnivin commented on #244
Unfortunately, https://github.com/containers/conmon/pull/241 does not resolve the issue. Exec probes with https://github.com/containers/conmon/commit/3ac015ee410f1b05c949b46224b42efbbffbce40 error out in the same manner as with https://github.com/containers/conmon/commit/0f092d5446fdadb761b8143b5c4b1d1ac9793f29.

[2021-03-08 17:53] haircommander commented on #244
I think https://github.com/containers/conmon/pull/246 may help as well, I was able to reproduce the error and that fixed it

[2021-03-08 18:06] paulnivin commented on #244
Confirmed that https://github.com/containers/conmon/pull/246 fixes the issue. Thanks!

[2021-03-08 18:21] haircommander commented on #244
awesome, I'll have 2.0.27 available shortly, probably will make its way into fedora in a couple of days.

In the meantime, we'll test [cri-o with conmon master](https://github.com/cri-o/cri-o/pull/4633) and [test conmon with cri-o integration tests](https://github.com/containers/conmon/pull/245) (two things I've been meaning to do anyway). that should catch the majority of issues earlier.

[2021-03-12 18:49] paulnivin commented on #244
heads up that koji doesn't yet have a fc32 build

[2021-03-12 19:14] haircommander commented on #244
oops, thanks, I triggered the build

[2021-03-22 07:05] s1061123 opened #249 "latest conmon (v2.0.27) AMD64 image is not AMD64, it is ARM one!"
As of filename, I expect that the latest (v2.0.27) `conmon.amd64` is x86_64, however, it is actually ARM one as follows.

[code]

[2021-03-22 08:14] saschagrunert commented on #249
Hey, sorry for that issue. I uploaded the amd64 bit binary. Thank you for the hint!

cc @haircommander
/close

[2021-03-22 08:14] #249 closed

[2021-03-26 11:01] exekias commented on #211
++ on this issue, we (Filebeat dev here) are seeing more issues coming from k8s users using alternative runtimes, like CRI-o. Having truncate as the mechanism for rotation makes it impossible to guarantee delivery of all log messages. A rename + create approach like the one describe in this issue allows agents to keep reading both the old and the new file after a rotation event.

Docker does this

[2021-03-27 14:26] pwFoo commented on #184
Would be nice to know how to use conman. Maybe would be nice for minimal setup of runc / crun direktly with conman

[2021-03-29 09:46] oskarirauta opened #251 "conmon segfaults when container is stopped"
Sorry, not creating PR this time, although solution is included.

On some systems, stopping container causes conmon to segfault, here is result from podman when attempting to stop container:
`
error stopping container 0c1488f14bf30b16ad4f70a752400038d50fde4a63305d24d8543e3ce310ecab: timed out waiting for file /run/libpod/exits/0c1488f14bf30b16ad4f70a752400038d50fde4a63305d24d8543e3ce310ecab: inter

[2021-03-29 12:26] rhatdan commented on #184
Conmon has a man page now.  If you want more information on the man page or advanced howtos. PRs welcome.  :^)

[2021-03-29 12:26] #184 closed

[2021-03-30 01:27] syedriko opened #252 "Missing "<timestamp> stdout F" in the log if container terminates without a linebreak"
**Issue**

conmon generates a partial log sequence not conforming to the CRI log spec (https://github.com/kubernetes/community/blob/master/contributors/design-proposals/node/kubelet-cri-logging.md) if container writes a sequence of characters into stdout/stderr and  terminates without writing a newline.

**Versions**

[code]

**How to reproduce**
[code]

**Describe the results you received:**

Hun

[2021-04-01 20:10] haircommander commented on #252
hmm I am not totally convinced it's not conformant, the CRI definition is kinda vague here. Reworking the API to remember whether the last line was partial or not, and returning a full line at the end is not exactly trivial. What motivation do you have for looking for this behavior?

[2021-04-02 00:25] syedriko commented on #252
It would simplify what a downstream log processor like Fluentd needs to do to assembles complete log lines, from a sequence of Ps and a final F. Sure Fluentd needs to be liberal in what it accepts but issuing an F terminator would IMO make conmon more conservative in what it produces.

[2021-04-05 18:22] #251 closed

[2021-04-06 15:04] chenk008 commented on #145
It's my mistake. Current routing will run after container exit.

[2021-04-09 16:07] haircommander commented on #252
I'm not sure I have the bandwidth to take this on, but I'd happily accept contributions :)

[2021-04-12 20:17] edsantiago opened #290 "podman-remote: rootless: exec /no/such/command makes container become unusable"
I have a feeling this is conmon or crun or something non-podman.

Setup: with `podman system service` running as rootless:
[code]
So far, so good. But now, trying to make the container exit:
[code]
This should not happen. The container should be in Exited(0) state. Furthermore:
[code]
100% reproducible. Rootless only.

5.11.9-200.fc33
podman-3.1.0-3.fc33
crun-0.19-1.fc33
conmon-2.0.27-2.fc33
conta

[2021-05-13 15:46] rhatdan opened #259 "Rename master branch to main branch"

[2021-05-13 20:07] TomSweeneyRedHat commented on #259
There are a number of links in podman.io, buildah.io and probably buildah, podman and other repositories that will need to be updated after this change as they all have `master` as part of their address.

[2021-05-13 20:10] TomSweeneyRedHat commented on #259
oops, ignore my previous dyslexic comment, I thought this came from `containers/common`

[2021-05-14 18:14] mpolden opened #260 "Improper container state, stale exec sessions and PID wrapping"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Unable to stop or remove a Podman because of stale exec sessions. The PID associated with the exec session is reused due to PID wrapping in root PID namespace, causing Podman to believe the exec session is still alive.

**Steps to reproduce the issue:**
   1. We have a running Podman containe

[2021-05-14 18:15] haircommander commented on #260
@mpolden I have transfered this to the conmon repo, and attempted a fix in https://github.com/containers/conmon/pull/261 can you give it a try?

[2021-05-18 07:05] mpolden commented on #260
Sure, is there a build I can try?

[2021-05-18 13:33] haircommander commented on #260
you can download the binary from https://cirrus-ci.com/task/5425328676929536

[2021-05-19 07:55] mpolden commented on #260
I still get the same behaviour as in https://github.com/containers/conmon/issues/260#issuecomment-841115969 when using the conmon binary from the linked build:
[code]

As far as I can tell there is only one signal handler registered with `atexit` by default: `reap_children`.

I'm not sure how the Podman cleanup of exec session happens, but I see `do_exit_command` is only registered if `--exit-comm

[2021-05-19 14:45] haircommander commented on #260
hm interesting. @mheon shouldn't there be an exit command to cleanup the exec session?

[2021-05-19 15:00] mheon commented on #260
Hm. We may only be doing it for detached exec sessions. Finally have time to dig into this one, I'll go looking.

[2021-05-19 18:18] mheon commented on #260
I was right - we are, in fact, only doing exit commands for detached exec. Fortunately, this should be an easy fix.

[2021-05-19 18:52] mheon commented on #260
https://github.com/containers/podman/pull/10405 should fix that bit.

[2021-05-27 06:46] portante opened #262 "An Analysis of Conmon Container Logging Behaviors with Recommendations"
This is a detailed analysis of the logging behavior in conmon as of tag `v2.0.28`.

Some recommendations:

 * Match read size to actual `pipe(7)` size (64 KB by default on Linux)
 * Align read buffer on page boundary, don't use leading byte just for remote consoles
 * Consider reading from `pipe(7)` until `EWOULDBLOCK`
 * Raise IO vector count to 1,024 to reduce number of `writev(2)` system calls

[2021-06-01 19:30] pascapascapascapasca opened #266 "Max log size not applied"
The max log size option is set to 200MB through `log_size_max = 209715200` in /etc/containers/containers.conf (no other option is uncommented in it), but the container logs exceed 200MB. Is this a configuration issue on my side?

**Versions**
`CentOS 7

conmon --version
conmon version 2.0.21
commit: efe288263ebb1bab4673d2cfbe1a352f3c7d27c1-dirty

rpm -qa | grep containers
containers-common-1.2.0-3

[2021-06-06 01:52] tobwen opened #269 "[podman] [logging] journald contains ASCII only when using `--tty`"
## preface
I'm using _conmon_ with _podman_ and I'm aware that there were problems with pipes and logs in combination with `--tty`  in the past, but this issue seems new to me.

## What did I do?
As normal user:
[code]

As root:
[code]

## What did I get?
Without `--tty`
<details>
  <summary>Click to expand</summary>

[code]
</details>

With `--tty`
<details>
  <summary>Click to expand</summary>

[2021-06-06 01:56] tobwen opened #270 "[podman] [logging] long `_CMDLINE` variable is filling the log"
## What did I do?
As normal user:
[code]

As root:
[code]

## What did I get?
<details>
  <summary>Click to expand</summary>

[code]
</details>

## What is the issue?
`_CMDLINE` is pretty long and gets logged over and over again.

## What did I expect?
Would be nice to drop `_CMDLINE`, e.g. using `podman --log-opt`

## Which versions did I use?
- podman version 3.2.0-dev (https://github.com/contai

[2021-06-06 02:15] tobwen commented on #269
Oh, might be related? https://github.com/systemd/systemd/issues/3416

[2021-06-06 20:23] tobwen opened #271 "[logging] allow custom message format"
## preface
I'm using _conmon_  with _podman_. Since some containerized applications don't have good logging support, I'm using _journald_ to capture the logs from _conmon_. For longtime storage, I'm processing the logs using _rsyslog_.

## What's my issue?
Although _conmon_ exported the container name and tags into _journld_, these details aren't part of the _syslog_ export. It's impossible to fil

[2021-06-06 21:46] tobwen commented on #271
Easy patch, which might work for me:
https://github.com/containers/conmon/blob/24c73c2abb3f220ebd97acf498b57c560ca26c04/src/ctr_logging.c#L236-L238

[code]

[2021-06-06 23:20] rhatdan commented on #269
i don't believe there is a bug here.

[2021-06-07 00:28] tobwen opened #272 "[logging] multibyte-characters break input conversion"
## summary
Seems like multibyte-characters in _TAG_ breaks input conversion.

## What did I do?
[code]

## What did I get?
[code]

## What did I expect?
Either _TAG_ accepts multi-byte cahracters or an error message like:
[code]

## Which versions did I use?
- podman version 3.2.0-dev (https://github.com/containers/podman/commit/b6167cedb2ba69a66646a94eb27c49bbbea88e15)
- conmon version 2.0.30-dev

[2021-06-07 00:47] tobwen commented on #269
True. Closing.

[2021-06-07 00:47] #269 closed

[2021-06-07 17:10] haircommander commented on #270
this is more of an issue with podman. It is there that conmon's args are put together (specifically the args for the cleanup command, which contributes to the length quite a bit). moving there

[2021-06-07 17:22] haircommander commented on #272
interesting, this should have been fixed by https://github.com/containers/conmon/pull/215 and https://github.com/containers/podman/pull/8935
maybe podman regressed?

[2021-06-08 08:38] tobwen opened #274 "[logging] carriage return destroys timestamp"
## What am I doing?
[code]

## What is happening?
carriage return "jumps" out of the message and messes around with the timestamp. `2` gets lost (overwritten by `3`).
[code]

## What do I expect?
[code]
or - even better:
[code]

## Which versions did I use?
- podman version 3.2.0-dev (https://github.com/containers/podman/commit/b6167cedb2ba69a66646a94eb27c49bbbea88e15)
- conmon version 2.0.30-dev

[2021-06-08 15:01] haircommander commented on #274
hm maybe that's `cat` doing the wrong thing. when I use nvim I have:
`2021-06-08T10:59:13.866958265-04:00 stdout P 1^M2^M^M3`

which is expected

[2021-06-09 06:39] ghost opened #275 "errors occurred during building"
I have encountered a error  building from source code.   Is my gcc version mismatched?

steps:

1.git clone ...
2. make

os :  ubuntu16.04
gcc : 5.4.0

![image](https://user-images.githubusercontent.com/33537489/121305157-da6aa480-c92f-11eb-852b-7189d56ddaaa.png)

[2021-06-09 13:53] haircommander commented on #275
interesting, this should have been fixed in https://github.com/containers/conmon/pull/268
does your version have that commit?

[2021-06-10 05:54] ccnankai commented on #275
I pulled the latest code.
![image](https://user-images.githubusercontent.com/33537489/121471675-aad0a080-c9f2-11eb-8151-dfc7723ed3ad.png)

[2021-06-10 14:06] haircommander commented on #275
@giuseppe any ideas?

[2021-06-10 14:34] giuseppe commented on #275
could you try to apply the following patch?

[code]

[2021-06-11 02:58] ccnankai commented on #275
@giuseppe
After applying this patch, this error is still reported when compiling. It may be that there is a problem with my system environment, let me troubleshoot again.
Thank you very much.

![image](https://user-images.githubusercontent.com/33537489/121623864-0d817500-caa3-11eb-8f66-bddb9dd0f539.png)

![image](https://user-images.githubusercontent.com/33537489/121623896-20944500-caa3-11eb-9857-

[2021-06-11 07:25] giuseppe commented on #275
this is what I get on Ubuntu 16.04:

[code]

Altough we need this patch to address an issue when libseccomp is not installed:

[code]

[2021-06-11 07:48] giuseppe commented on #275
can you show the output for `# grep -r "seccomp_notif_resp" /usr/include/` ?

[2021-06-11 08:02] giuseppe commented on #275
we could add a check for `seccomp_notif_resp` but since it is available in Ubuntu 16.04, I think it is easier if we understand what is going on there and why it doesn't exist for you.  Have you updated the system?

[2021-06-13 08:10] ccnankai commented on #275
My result :
cat /etc/issue :
Ubuntu 16.04.7 LTS \n \l

grep -r "seccomp_notif_resp" /usr/include/
![1623571505740](https://user-images.githubusercontent.com/33537489/121799867-364f6900-cc61-11eb-8db8-f33f290bfa85.jpg)

grep -r SECCOMP_RET_USER_NOTIF /usr/include/

![1623571184801](https://user-images.githubusercontent.com/33537489/121799871-4404ee80-cc61-11eb-86f4-1fdbe7b7e426.jpg)

If it really d

[2021-06-15 12:35] giuseppe commented on #275
so seccomp_notif_resp is defined as part of `/usr/include/seccomp.h`.

Could you try adding `#include <seccomp.h>`to the `seccomp_notify_plugin.h` file?

[2021-06-15 13:58] ccnankai commented on #275
Do I still use the patch above?   Did I add this clause correctly?
![image](https://user-images.githubusercontent.com/33537489/122065493-92aeb600-ce24-11eb-9cc4-b449bb288dc8.png)

![image](https://user-images.githubusercontent.com/33537489/122065743-c4278180-ce24-11eb-93a5-4ae49075d7b0.png)

[2021-06-15 14:22] giuseppe commented on #275
seccomp_notif_sizes seems still missing.

What do you see with `grep -r "seccomp_notif_sizes" /usr/include/`?

Is your OS fully updated (did you run `apt-get update && apt-get upgrade`)?

[2021-06-15 14:43] tobwen opened #277 "[podman] conmon should restart dead child processes"
## What's the issue?
When killing `slirp4netns`, a pod or a container keeps on running without warnings, but without networking.

## How to reproduce?
[code]

## What's expected?
1. _conmon_ (or _podman_) should take care of the child processes and restart them if they crash or die.
2. A notification in the logs would also be nice.

## What's the environment?
podman `version 3.3.0-dev`
conmon `ver

[2021-06-15 14:55] ccnankai commented on #275
The result is empty.

![image](https://user-images.githubusercontent.com/33537489/122074216-9bef5100-ce2b-11eb-841d-db0c8917a78d.png)

This error  wastes too much of your time. I'm really sorry, I closed this question. It should be that the OS has not been completely updatedI .will upgrade the system again. Thank you very much.

[2021-06-15 14:56] tobwen opened #278 "[podman] death of one container restarts both"
## What's the issue?
When killing a process in a container in a pod (with more than one container), all the containers get restarted.

## How to reproduce?
[code]
## What's expected?
Only the dead container should be restarted.

## Note
This only happens, if the pod is started by _systemd_. When it's directly started `podman pod start ...`, it's working as expected.

## What's the environment?
pod

[2021-06-15 14:59] tobwen commented on #272
Hmmm okay, `Error: unknown flag: --tag` on latest _podman_ :-)

[2021-06-15 15:07] haircommander commented on #278
hmm this sounds like a podman systemd generate issue. @vrothberg would you agree?

Independently, kubernetes supports restart policies of "never", "on-failure" and "always" for pods. I can't remember if podman supports such configurations, but it sounds like it is behaving as if it's using one of the latter two

[2021-06-15 15:14] haircommander commented on #277
@mheon @giuseppe is it even possible to restart slirp4netns in this case? I would imagine there'd be some runtime state that would be lost. I would expect slirp4netns dying to kill the container tbh

[2021-06-15 16:25] mheon commented on #277
I think you'd lose active connections, but you'd lose those on the container going down too. I don't really think you can do the restart straight from Conmon, though. We really need access to the full container definition from the Podman DB to proceed.

[2021-06-15 16:50] tobwen commented on #277
Sure, but without a heartbeat or another check, a user wouldn't get informed about this. Can't we get a log entry at least?

[2021-06-15 17:09] mheon commented on #277
Log entry is definitely viable. Container being killed is also viable. We could probably do slirp restart, but it'd require a fair bit of hacking - we'd need to be able to pass in a command for Conmon to run on slirp exit that is different and distinct from the exit command.

[2021-06-15 17:12] tobwen commented on #277
With a normal _systemd_-setup, a gracefully killed container would restart, so would slirp. Sounds well :-)

[2021-06-15 19:20] cevich commented on #259
***Supporting/Required changes:***

- [ ] Update `$CIRRUS_BASE_SHA` value in `contrib/cirrus/lib.sh`
- [ ] Update *master* reference in `contrib/cirrus/lib.sh`

(I'll update this comment as/if I find more)

[2021-06-17 07:13] vrothberg commented on #278
I concur, @haircommander.  It sounds more like an issue in the dependencies among the container services inside the pod service.

[2021-06-17 07:50] giuseppe commented on #277
I don't think conmon should know about slirp4netns.

IMO, slirp4netns should be seen as infrastructure for the container.  Killing slirp4netns is equivalent to dropping the iptables rules for root containers or killing fuse-overlayfs when it is used for rootless.

[2021-06-17 08:46] tobwen commented on #277
Oops, I forgot to add _fuse-overlayfs_ in my post.

Killing, of course, was an edge case, of course. I just wanted to simulate: When happens, if _slirp4netns_ or _fuse-overlayfs_ crash by itself. Will the container heal itself, will there be logs, etc.

So it's even fine when the container gets stopped (or restarted). But an entry in the logs would be fine, so the admin could react.

[2021-06-17 11:08] giuseppe commented on #277
we could move slirp4netns to a separate cgroup (or at least make it configurable) so that systemd could report the failure.  I'd not worry about fuse-overlayfs since we are moving to use the native overlay support for rootless as well.

[2021-06-18 13:05] #259 closed

[2021-06-18 13:07] rhatdan commented on #259
@cevich I renamed, but I don't see master in cirrus stuff?

[2021-06-18 14:50] rhatdan commented on #278
@haircommander What do those states mean when you have multiple containers within the pod?

If I have two or more containers within a Pod, and one fails?

Never - Just let the other containers run, or should the entire pod stop?
On-Failure - Just restart the container, or restart all containers?
Always -       ^^

[2021-06-18 14:54] rhatdan commented on #277
I would love to see conmon kill the container if slirp4netns and/or fuse-overlayfs exited and exit with an error state  Then it would be up to podman or systemd to decide if the pod/container should restart.

Could we potentially do this by passing pidfds to conmon, and then having conmon wait on those pids, if they exit, then conmon throws an error.

[2021-06-18 14:56] mheon commented on #277
I like the pidfd idea a lot.

[2021-06-18 15:27] cevich commented on #259
There might not be, this repo. is more neglected by me than most others :cry:

I'll peek and open a PR ad needed, thanks for checking and letting me know.

[2021-06-21 07:56] vrothberg commented on #278
I think only the container should restart.  Also containers that depend on this one should restart; pretty much following the dependency tree downwards to all leaves.

[2021-06-21 13:33] haircommander commented on #278
https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#restart-policy

it applies to each container separately. so a container stopping means it is restarted, but the whole rest of the pod isn't

[2021-06-22 13:34] rhatdan commented on #278
Does anyone know if we implement this correctly in podman play kube?

[2021-06-22 13:37] vrothberg commented on #278
I don't know about `play kube`.  I think this issue must be addressed in `generate systemd`.

[2021-06-23 15:52] haircommander commented on #275
actually, it's likely you'll run into it on 18.04, as we need kernel 5.9 or greater for proper seccomp notify support. I think this should be fixed

[2021-06-24 01:18] ccnankai commented on #275
@haircommander
Got it .
Thank you very much.

[2021-07-13 10:16] apollo13 commented on #242
True, but I think it would still be preferred over breaking up loglines. Any ideas on what docker does in this case?

[2021-07-28 14:00] eburnette commented on #242
Are you sure the sleep is necessary to reproduce this? I found this ticket when researching split log lines in an openshift deployment, and mine are coming in the middle of atomic log calls like log("This is a long message").

[2021-07-28 14:01] huww98 commented on #242
No, it is not necessary. It just makes this easier to reproduce.

[2021-08-15 21:11] nivekuil commented on #278
I ran into this. I guess the easy fix is to change `Requires=` to `Wants=` in the pod service file, or else the pod dies when one container dies and since the containers `BindTo` the pod, they all die. Are there any caveats to that?

[2021-08-19 22:47] p0da opened #293 "Allow For Container Name To Be Shown In Journald"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Would it be possible to add a feature that prefixes journald log messages with the relevant container/tag information? It looks like this exact feature was started in: https://github.com/containers/conmon/pull/273 but never got finished. Thanks.

[2021-08-28 19:00] ThomsonTan opened #285 "Seccomp dependency not listed in README"
Try `make` on a fresh system with the dependencies listed in README installed, and got below error. This could be fixed by running `sudo apt install libseccomp-dev` on debian.

[code]

[2021-08-28 21:10] rhatdan commented on #285
Please open a PR to add the dependancy.

[2021-09-01 10:28] #285 closed

[2021-09-09 18:27] #290 closed

[2021-09-16 18:47] haircommander commented on #293
ah I see, I misunderstood the ask. I have opened https://github.com/containers/conmon/pull/294 to fix. can someone test and let me know if it satisfies their use case?

[2021-09-20 18:30] ElMassas opened #295 "Podman log file max size limit not working"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Upon setting a `log-size-max` as a general container config in `/ect/containers/containers.conf`, podman does not respect this limit and exceeds it.
I've tried this in 3 ways.

**Steps to reproduce the issue:**

_First Way with general config_

1. Create configuration file in `/ect/containers

[2021-09-22 15:04] kloczek opened #298 "2.0.30: meson fails"
meson 0.59.1
[code]

[2021-09-30 08:31] pboguslawski opened #301 "Allow --log-opt=tag option to change SYSLOG_IDENTIFIER in journald"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Run container with `podman run --log-driver=journald --log-opt=tag='<tag here>'`

**Describe the results you received:**

Journald gets messages with

[code]

**Describe the results you expected:**

According to

https://docs.docker.com/config/containers/

[2021-09-30 12:45] giuseppe commented on #301
with e7a5e0cc1220f294d2a63bd282b8124ac026388b we already skip setting "conmon" but use the short name.

PR opened here: https://github.com/containers/conmon/pull/302

[2021-09-30 17:29] #301 closed

[2021-10-08 21:37] dilyanpalauzov opened #304 "meson and Makefile buildsystems install conmon on different locations"
Using the meson build system, calling `ninja install` prints on my system:

[code]

Using the make build system, calling `make install` prints:

[code]
So the one build system install under /usr/local/bin/conmon, the other build system installs under /usr/local/libexec/podman . This makes no sense.  I see no point to install conmon under /usr/local/libexec, when it will be called by cri-o.

[2021-10-17 13:49] kloczek commented on #298
Any update?
Also it would be good to clean those meson warnings.

[2021-10-25 07:27] saschagrunert opened #307 "Rust implementation of conmon"
We recently discussed the possibilities of re-implementing conmon in Rust. (cc @mrunalp @haircommander)

This issue should be used to gather further pros and cons to find the right move forward.

---
Funny enough, I privately started porting conmon to Rust a while ago. I cleaned up the fork and have a diff available here: https://github.com/containers/conmon/compare/main...saschagrunert:rust

It's

[2021-10-30 15:24] rhatdan commented on #307
Go for it.

[2021-11-02 07:52] saschagrunert commented on #307
Good, let's move issues over there and close this one fow now.

[2021-11-02 07:52] #307 closed

[2021-12-17 00:40] martinetd opened #310 "podman restart=always accumulates conmon processes"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running a container with restart=always (or on-failure) keeps spawning one more process everytime the container stopped.

I could reproduce this on podman 3.4.4 on alpine/fedora (conmon 2.0.30), it doesn't seem to happen on 3.4.2 on debian (conmon 2.0.25)
I tried recompiling podman 3.4.4 and

[2021-12-17 01:56] quentin9696 opened #311 "Support `STATUS` sd_notify"
/kind feature

**Description**

Support sd_notify `STATUS`

Actually, podman `3.4.1` only support `WATCHDOG` and `READY` notification when using  `--sdnotify=container`.

That would be interesting to integrate more messages, like `STATUS`

[2021-12-20 12:35] vrothberg commented on #311
This is where we had to punch: https://github.com/containers/conmon/blob/main/src/conn_sock.c#L371-L383

@giuseppe WDYT?

[2021-12-21 14:38] #310 closed

[2021-12-22 01:28] p0da commented on #293
Just updated, feature is working perfectly on my end. Thank you for pushing this feature through @haircommander. Feel free to close this issue as needed.

[2021-12-22 14:40] #293 closed

[2021-12-30 03:14] likan999 commented on #167
I am seeing this consistently on my machine as well. It happens usually after days or even weeks I started my containers. I haven't yet figured out what triggered this.

After reading the glib code, I suspect this is due to some file descriptor get invalidated (i.e. closed). See `{fd=10, revents=POLLNVAL}` in OP's strace. This causes epoll to always return, and (probably a bug in glib) that it doe

[2021-12-30 03:27] likan999 commented on #167
I see `src/conn_sock.c` in `terminate_remote_sock`, it closes file descriptors without calling `g_source_remove`. I am not expert here so I would defer to conmon or glib experts to confirm this is really a bug (not a feature).

[2022-01-04 20:10] haircommander commented on #167
excellent observation @likan999 we never remove the sources from glib. I've opened https://github.com/containers/conmon/pull/312 to fix, can you PTAL and let me know if it works for you?

[2022-01-05 20:26] likan999 commented on #167
@haircommander I think conmon does remove sources from glib, because many callbacks return G_SOURCE_REMOVE, so it is probably a corner case instead of a norm that sources are not removed?

[2022-01-05 20:37] haircommander commented on #167
After I commented that yesterday I learned what returning G_SOURCE_REMOVE actually did :sweat_smile: you are right it is a weird corner case. In trying to find out the corner, can I have more information about what podman commands trigger this issue for you?

[2022-01-07 08:51] likan999 commented on #167
The conmon command line is [here](https://gist.githubusercontent.com/likan999/a4935119367f35fb64e8639109197ac0/raw/0b4c3da669b7b9f9cc4ae4965ec4a0e2a6941b03/gistfile1.txt).

And I've recorded the file descriptors of all my conmon processes every minute, and now I can confirm the missing file descriptor is /dev/ptmx. Note in the command line I have `-t`, so the bug should be related to terminal hand

[2022-01-07 14:59] haircommander commented on #167
Thanks for digging further! Would you have interest in opening a PR adding said `dup`?

[2022-01-10 19:06] #167 closed

[2022-01-10 20:12] Fulguritus opened #315 "segmentation fault with podman and ocrmypdf"
I originally filed the issue in ocrmypdf: https://github.com/ocrmypdf/OCRmyPDF/issues/889

Essentially, when doing
[code]
the output hangs, and I see a segfault in conmon in dmesg:
[code]

Address within libc: 0x00007f025e26d9b5 - 0x7f025e11e000 = 0x14F9B5
[code]

Running the same with log-level=debug, I see
[code]
Searching for this on the net brought up a potential fix on https://issueexplorer.c

[2022-01-13 13:26] #298 closed

[2022-01-13 21:00] Fulguritus opened #318 "Fix coverity findings"
I set up a Coverity scan that shows three findings: https://scan.coverity.com/projects/fulguritus-conmon
One of these issues has a CWE rating...

ctr_logging.c
[code]
=> this should probably read `pwarn(err);`

close_fds.c:
[code]

conmon.c:
[code]

[2022-01-13 21:09] Fulguritus commented on #315
Further details:
[code]

[2022-01-13 21:38] Fulguritus commented on #315
Does this mean the issue  is related to logging? By the nature of ocrmypdf, there will be (large) binary streams sent to STDOUT. Could it be that the construction of `bufv` in `write_journald()` cannot handle that kind of data or this amount of data? Could well be several (dozen/hundred) MBs of data in a scanned PDF.

[2022-01-13 21:47] Fulguritus commented on #315
Is this related to https://github.com/containers/conmon/pull/264?

[2022-01-14 14:58] rhatdan commented on #318
Thanks, want to open a PR to fix them?

[2022-01-14 21:39] Fulguritus commented on #318
As far as I can tell, the unbounded source buffer issue is actually a false positive - syslog is not writing back to the source buffer.

The Bad bit shift operation issue cannot happen either, as entries in /proc/self/fd start at "0" and are never negative.

The pwarn issue is something that I need to dig into deeper and understand what error code sd_journal_sendv actually returns. It is getting l

[2022-01-14 21:44] Fulguritus commented on #318
Just found the underlying issue:
[code]
This is confusing Coverity :/

So nothing wrong and all findings are false-positives. I'll see what flags I can insert into the code so that Coverity stops complaining (and nobody else wastes time on them).

Sorry for the noise.

[2022-01-18 17:24] haircommander commented on #318
No problem, thanks for reporting them! I am guessing this is good to be closed then

[2022-01-18 17:24] #318 closed

[2022-01-24 19:36] #242 closed

[2022-01-29 01:11] AdrianVovk opened #325 "Meson build doesn't handle systemd journald"
I think the title says it all. When building with meson, conmon is built without support for systemd-journald, even though journald is present in the build environment

[2022-01-31 08:46] saschagrunert commented on #325
Yeah, I think we did not add libsystemd at all to meson builds. @AdrianVovk do you wanna provide the patch to the meson build files for us? :)

[2022-02-01 15:32] batistein opened #327 "Binaries missing since v2.0.32"
since the release v2.0.32 the binaries for conmon are missing. Is there a particular reason that these are no longer in the releases? I haven't found a hint anywhere.

[2022-02-01 16:33] #325 closed

[2022-02-01 18:14] jess-sol commented on #315
I might be seeing a similar or the same issue:
[code]

I get this error:
[code]

And see this seg fault in dmesg
[code]

Versions:
- Fedora 35 (versions 35.20220103.3.0 and 35.20220116.1.1)
- Conmon 2.0.30
- Podman 3.4.4

I built and installed the version in #264 and ran into the same error

[2022-02-01 18:30] lyarwood commented on #315
I'm also seeing this when building a dev environment for the kubevirt project. For whatever reason part of the current process is to dump a 40mb binary file to the stdout of a container before piping it into a local file:

https://github.com/kubevirt/kubevirt/blob/f16dd510918daf5ff4653aeae055822cdd99ce4e/cluster-up/cluster/k8s-provider-common.sh#L125

- Fedora 35
- conmon-2.0.30-2.fc35.x86_64

[co

[2022-02-01 18:42] jess-sol commented on #315
I'm attempting an install of Openshift and see it on the control nodes. The `machine-config-daemon-pull` service attempts to dump a binary file to stdout (to save as a local file) as well; and hangs due to this issue. I was attempting it in Proxmox, but see the same issue locally with KVM/QEMU.

[2022-02-01 19:19] rhatdan commented on #327
I think they used to build them on nix, and the contributor who was doing this work has disappeared.  If you want to manage the nix packaging, then open a PR.

@haircommander Reopen if I am mistaken.

[2022-02-01 19:19] #327 closed

[2022-02-01 20:27] haircommander commented on #327
we're still building the nix packages, I have just missed uploading them. I am doing so now, sorry for any inconvenience

[2022-02-01 20:29] batistein commented on #327
@rhatdan @haircommander thank you very much for the fast respond! Looking forward for the binaries :)

[2022-02-24 10:37] PavelSosin-320 commented on #159
@haircommander Now conmon 2.1 tries to write messages to
**DEBU[0000] /usr/bin/conmon messages will be logged to syslog**
DEBU[0000] running conmon: /usr/bin/conmon               args="[--api-version 1 -c d8db6db55eff0baf9291c7e88eb475c5571b283ce572984bad82b878f6dee7d7 -u d8db6db55eff0baf9291c7e88eb475c5571b283ce572984bad82b878f6dee7d7 -r /usr/bin/crun -b /containers/storage/btrfs-containers/d8db6

[2022-02-24 10:52] discordianfish commented on #244
@haircommander I believe this can be closed, right?

[2022-02-24 11:42] saschagrunert commented on #244
Yes, closing this one for now.

[2022-02-24 11:42] #244 closed

[2022-02-24 12:45] discordianfish opened #328 "conmon exec not handling runtime failures"
Looks like at least when doing exec, conmon is ignoring the exit status of the runtime and returns 0. That made it really hard to pin point an issue we're having.

Using /bin/false to easily reproduce:

[code]

[2022-02-24 19:43] haircommander commented on #159
sorry @PavelSosin-320 it's not clear to me what you're looking for. this issue is describing where container logs are written, not logs of the conmon process. That is determined by the `--syslog` flag which is passed by podman or cri-o. Most of the knobs you're describing are iin the podman backend, not conmon (unless I'm misunderstanding)

[2022-02-24 22:32] PavelSosin-320 commented on #159
@haircommander I observe the Podman container start issue that appears from Podman version 3.4.4 on Fedora 35 workstation  with BTRFS and GNome 4, naturally. At the same time Journal logs started to fill with corrupted log files. Although systemd-journad mechanism, tested using systemd-cat and journalctl --user  works OK for the same rootless user any attempt to start previously created container

[2022-02-27 08:01] PavelSosin-320 commented on #159
@haircommander After full cleanup and rerunning of podman start I found that the issue is actually dup of #https://github.com/containers/conmon/issues/67. Starting from Fedora, up to 34 Fedora had no syslog driver but it could be installed. For Fedora 35, like in Ubuntu the journal is the only option, no syslog daemon and unit exist and, so no related error is shown in systemctl status.  Podman al

[2022-03-05 01:47] haircommander commented on #315
sorry for the delay folks I haven't had the bandwidth to work on this but it is on my list of things to look at

[2022-03-18 16:17] phemmer commented on #315
Another report of this.

One thing that seems to be consistent with all the reports is that we're all dumping data from the container over STDOUT. [jess-sol's comment](https://github.com/containers/conmon/issues/315#issuecomment-1027143806) seems to be on the right track regarding size. I've tried to narrow down at what size it dies, but it seems to vary. For me it's somewhere around 1860000 bytes

[2022-03-23 16:59] giuseppe commented on #195
I think it works as expected.  It is the same behavior I get with docker:

[code]

[2022-03-23 16:59] #195 closed

[2022-04-02 09:07] jurf opened #330 "Conmon hang after wake from sleep"
On my two systems, one Silverblue 35 and one Silverblue 36, I sporadically get a conmon hang, using one core fully, right after waking from sleep. Usually happens in the morning.

[code]

Unsure what info to provide; if debugging is needed I do not mind trying to get a stack trace with debug symbols.

[2022-04-04 14:27] MatMaul commented on #330
I am getting the same trouble pretty reliably when coming out of sleep too.

[2022-04-06 15:54] haircommander commented on #328
Sorry for the delay @discordianfish, this fell through the cracks. The problem is that conmon double forks to daemonize. The original child does not actually end up running the runtime command. Callers can specify a sync pipe to allow conmon to tell them the exit code of the runtime command, but that's a pain from the terminal. Can you remind me the case you were running conmon manually?

[2022-04-08 15:50] haircommander commented on #330
hey sorry for the late reply. what is the podman command used to spawn the conmon?

[2022-04-08 18:37] jurf commented on #330
This is one from a currently-well-behaving one. I’ll update it once I can reproduce the bug again:
[code]

[2022-04-09 00:50] MatMaul commented on #330
I just got the problem, here is the related command:
[code]

[2022-04-09 09:16] zerodogg commented on #330
I'm also having this issue on two separate computers running Silverblue 35.

[code]

[2022-04-11 09:50] discordianfish commented on #328
@haircommander That was part of debugging another issue.
But feel free to close this if crio/podman have another reliable way to determine the return code of the runtime binary.

[2022-04-11 14:04] haircommander commented on #330
and just double checking, is everyone using v2.1.0, or is anyone hitting this somewhere earlier?

[2022-04-12 09:10] zerodogg commented on #330
My two machines where I have the issue are both on v2.1.0. One Silverblue 35, one Silverblue 36 beta.

[2022-04-12 15:26] strideynet opened #332 "Journald logging name/tag now mutually exclusive"
Hi !

I spotted something which looks like a regression in the behaviour of journald logging between releases v2.0.30 and v2.0.31

https://github.com/containers/conmon/commit/5d5b8536f47f30c28a6821b1b655e450c8b12ce8

This commit appears to change the behaviour unexpectedly. Prior to this commit, if a tag was specified, both CONTAINER_TAG and CONTAINER_NAME would be present, but now, when a tag is

[2022-04-12 17:38] rhatdan commented on #332
@giuseppe PTAL

[2022-04-14 07:48] giuseppe commented on #332
that is intentional.  More details are in the discussion here: https://github.com/containers/conmon/issues/301

[2022-04-14 09:57] strideynet commented on #332
I am unable to find anything in #301 that explains why CONTAINER_NAME should be dropped when CONTAINER_TAG is provided.

[2022-04-14 17:19] haircommander commented on #332
hmm I can't see any reason why we wouldn't print both tag and name if they're both present: https://github.com/containers/conmon/pull/333

[2022-04-15 09:24] giuseppe commented on #332
closed by #333

[2022-04-15 09:24] #332 closed

[2022-04-15 10:05] rhatdan commented on #332
This means we need a new release of conmon.  @haircommander

[2022-04-20 13:18] thimslugga commented on #330
Just started hitting this yesterday on my notebook running Silverblue 35. I initially noticed something was off as my notebook fans seemed to be running non-stop.

[code]

![Screenshot from 2022-04-20 08-55-54](https://user-images.githubusercontent.com/285055/164235505-6171f353-30b2-4fa3-b1c5-092a8a55f279.png)

[2022-05-12 12:13] xeor opened #335 "Long lines will be splitted when journald logs"
In https://github.com/containers/conmon/blob/2b087348289664b75c874ce44796f762d636c060/src/ctr_logging.c#L320-L322, `CONTAINER_PARTIAL_MESSAGE` is set static to `true`. I find no way to turn this off.

This can be problematic example when using ansible tower/awx, which uses conmon/podman to start jobs inside containers running its job since those jobs often contains a bunch of json from ansible. Yo

[2022-05-19 10:32] ankitdbst opened #336 "CONTAINER_NAME doesn't output the correct "io.kubernetes.container.name" label"
With docker, the below `daemon.json` for `journald`:
[code]

We can filter journalctl logs by `IO_KUBERNETES_CONTAINER_NAME=<container-name>`. Where `container-name` is the one defined in the k8s manifest.
[code]

In crio, when logging to journald, the `CONTAINER_NAME` filter outputs the pod name instead along with some hash:
[code]

Is there a way to configure the fields we send to journald like

[2022-05-20 20:41] Jmennius commented on #330
Same issue here. one CPU core is 100% busy with conmon.

[2022-05-23 15:39] haircommander commented on #335
thanks for opening the issue @xeor , do you have any interest in opening a PR?

[2022-05-23 15:45] haircommander commented on #336
Thanks for giving CRI-O a try!

we don't currently support adding a label, so support for that would need to be added.

also, technically, from cri-o's perspective the container name is that whole string. Here's how that string is constructed:
[code]
I don't remember exactly why it's done this way.

What changes would be required to meet your use cases?

[2022-05-23 20:05] kloczek opened #337 "2.1.1: build fails because incorrect checking dependency for `libsystemd`"
Meson passes without exit 1 anf build fails
[code]
If `libsystemd` has not been found meson should finish with error

[2022-05-24 11:58] ankitdbst commented on #336
Thanks for the reply @haircommander

Yes, if we can provide a way to add the label like docker daemon.json it would be great.
Else if we can have another filter `IO_KUBERNETES_CONTAINER_NAME` with only the container name (`c.config.Metadata.Name`) then it would help filter logs with it.

Is there a way to plug your filters in before we send out to journald?

[2022-05-24 18:27] haircommander commented on #337
by the looks of it it seems like seccomp is really the failure here

[2022-05-24 18:37] kloczek commented on #337
That is only because you are using indirect dependency.
To fix that looks like `dependency(foo, libseccomp ..)`  should be used unconditionally and than optionally  `dependency(bar, libsystemd ..)` could be used.

[2022-05-24 18:43] haircommander commented on #337
I agree, do you have interest in opening a PR

[2022-05-26 08:09] PavelSosin-320 commented on #67
@haircommander Note: conmon and crun need certain capabilities to be able writing into syslog. It's allowed only to root by the default (*). Both files have no caps xattributes and when invoked via execve can loose even those capabilities that inherited from the bash. It will be nice to print out the effective capabilities of the conmon and crun using libcap in the log-level=debug mode. Otherwise

[2022-05-27 18:11] haircommander commented on #337
I have opened https://github.com/containers/conmon/pull/339, can you PTAL? I am not very well versed in meson so I don't know if I did it right

[2022-06-01 05:39] dbloms opened #340 "adding support to forward containers output to splunk via hec connector"
We do currently use docker on Debian 11 and let the containers log on stdout through the
Splunk logging driver (https://docs.docker.com/config/containers/logging/splunk/) via HEC (https://docs.splunk.com/Documentation/Splunk/latest/Data/UsetheHTTPEventCollector) into Splunk.

In term of docker-compose this gives us the possibility to configure Splunk-logging on a per deployment basis, which is ver

[2022-06-01 06:24] chillout2k commented on #340
@dbloms: we do also use the the splunk logging driver in our docker deployments and we would be very pleased if podman would support it too. From my point of view this logging driver is an important feature to make podman a real drop-in-replacement for docker in (splunk-specific) production environments.

Thanks in advance :)

[2022-06-01 07:07] andreasschulze commented on #340
this would be valueable also for me

[2022-06-01 15:00] haircommander commented on #340
I think adding in conmon-rs would be easier (assuming podman integration happens in a timely manner).

[2022-06-04 20:52] xeor commented on #335
sorry for the delay..

I honestly don't think I should try to make a PR for this. I have not been doing a lot (any c programming).
I am working around this by using the logging functionality inside awx/tower instead of journald. So this is still a problem.

[2022-06-10 07:42] chillout2k commented on #340
@haircommander, @rhatdan: ping ;-)

Is it possible to push this feature request? @dbloms offered to pay for it if possible 👍

This might be interesting too:  https://github.com/moby/moby/issues/16207

[2022-06-12 10:47] rhatdan commented on #340
You should open the issue in conmon-rs

[2022-06-12 20:44] allisonkarlitskaya commented on #330
I managed to get a strace and a gdb backtrace of a 100% CPU pinned conmon.  The issue is pretty straightforward.

strace:

[code]

`gdb` `t a a bt`
[code]

So it's the glib worker thread that's spinning.  There's not a lot of fds that get registered in that main context, but every main context has an eventfd used for cross-thread wakeups.  Someone closed that.

This looks like it was introduced in

[2022-06-13 15:32] haircommander commented on #330
thank you for looking into it @allisonkarlitskaya ! @giuseppe  can you PTAL?

[2022-06-14 18:14] kloczek commented on #337
Here is patch which I'm using now
[code]
Please let me know if you want that as PR.

[2022-06-15 09:43] allisonkarlitskaya commented on #330
I've only seen it happen sporadically here, but the bug would definitely be getting triggered every single time `do_exit_command()` is running.  As soon as the "close all fds" code runs, the bug has occurred.  Normally you don't notice it, though, as exiting goes quickly, so maybe there's a 100% CPU spike, but it's very brief.

The key to seeing this issue is that the `wait()` on the child process

[2022-06-15 10:35] allisonkarlitskaya commented on #330
Okay.  I've done a bit more research.

First: it seems that `conmon` will attempt to exit when its primary child process has exited, but the `waitpid()` loop in the `atexit()` handler (here https://github.com/containers/conmon/blob/main/src/ctr_exit.c#L174) will block until all child processes are done.  I consider this to be the "second unrelated bug" mentioned above: `conmon` shouldn't spend so

[2022-06-15 13:14] giuseppe commented on #330
the assumption was that `g_main_loop_quit` would terminate the worker thread while it doesn't seem to be the case.  Do you know if there is a way to terminate the glibc worker thread?

[2022-06-15 13:41] allisonkarlitskaya commented on #330
If you'd really like to avoid removing the "close all fds" logic, then the other route to go is to avoid `g_unix_signal_add()`.

It's possible to get the same behaviour with fewer hacks using `signalfd()` and `g_unix_fd_add()`.  This would also let you avoid the jump through `SIGUSR1`.

[2022-06-16 19:08] babykart opened #345 "2.1.2: Unknown option --log-global-size-max"
Hi,

kubernetes: v1.24.1+k3s1
cri-o: 1.24.1

After upgrade to conmon-2.1.2, I experienced errors at starting some pods.
For example _cilium_:

[code]
Effectivily in `conmon --help`:

[code]

Rollback to conmon-2.1.1 fixes the problem.

[2022-06-16 19:10] haircommander commented on #345
we have updated conmon-2.1.2 to have the correct flag, sorry for the issues, can you try the new one released today?

[2022-06-16 19:28] babykart commented on #345
Thx for you fast reply.
Fixed with new one downloaded today. 👍

[2022-06-16 19:31] haircommander commented on #345
glad to hear! I am closing this now

[2022-06-16 19:31] #345 closed

[2022-06-21 13:25] #330 closed

[2022-07-29 10:04] b3n3w opened #348 "podman cannot run [conmon:e] Include journald in compilation path to log to systemd journal"
Hi there,

on one of our machines were not able to run any podman container due to the following error:

[conmon:e] Include journald in compilation path to log to systemd journal
Error: write child: broken pipe

I already reinstalled podman, conmon and checked the permissions of /var/log/journal.
When running as sudo the operation works without problem.

The user is already in the systemd-journal

[2022-08-04 08:29] martinpitt commented on #330
Out of interest, as this is still causing CPU/fan overheating (especially during this hot summer) -- is that fix going to go into Fedora soon? Or wasn't it fixed after all yet? I still have to `pkill -9 conmon` every day.

[2022-08-04 11:29] rhatdan commented on #330
New versions of Podman, conmon and friends should be updated in Fedora in the next week or two.

[2022-08-08 10:45] PavelSosin-320 opened #350 "Conmon breaks Podman run on Fedora 36 workstation for rootless users"
Conmon version 2.1.0
Podman version 4.1.1 - last available for Fedora 36
OS Fedora 36 workstation

Command podman run .... Ubuntu
Error [conmon.d]; failed to write to /proc/self/oom_score_adj] : permission denied. The issue is discussed in the details in [Stack overflow cannot-open-proc-self-oom-score-adj-when-i-have-the-right-capability ](https://stackoverflow.com/questions/50863306/cannot-open-p

[2022-08-08 14:25] haircommander commented on #350
This is expected and (mostly) harmless. Basically, conmon attempts to set its own OOM adjust score to -1000. This means it cannot be OOM killed, which is required because (in cgroupv1) the kernel can mistakenly kill conmon even if its its container that is problematically consuming memory).

However, rootless users aren't permitted to update their own OOM adjust score. The message you see is conmo

[2022-08-08 16:20] PavelSosin-320 commented on #350
But somewhere, container is not created. Podman on Fedora uses cgroupv2 API managed by systemd.
I afraid that it exactly what happens and discussed in the Stack overflow post: Conmon and Crun require some capabilities and so, nodes under /proc/self can be managed only by root. Indeed, it works if the user is root. Podman also works inside Gnome boxes stateless VM running CoreOS. that has no OOM ki

[2022-08-08 16:23] haircommander commented on #350
Okay so the root (pardon the pun) of the problem is containers aren't coming up with rootless podman? did you get your issue resolved from stack overflow or do you need more help? did you read the podman rootless debugging guide? https://github.com/containers/podman/blob/main/rootless.md

[2022-08-08 17:10] PavelSosin-320 commented on #350
@haircommander The issue is not mentioned in the "Troubleshooting". This is purely the problem of OOM killer in the Proxy design pattern.
As I mentioned the post is not marked as SOLVED, doesn't offer any clear solution without compromising security since 2018. It is also related to capabilities inheritance from the conmon to crun. Personally, I would prefer to sacrifice container runtime (crun)

[2022-08-08 17:32] haircommander commented on #350
it's not clear to me what you're asking for. Are you requesting conmon's oom adjust score be set to -1000 in rootless mode for fear of it being oom killed?

I'm not sure what post you're referring to here

FWIW, i believe cgroupv2 acts smarter in these situations and kills the container, though you may want to test that

[2022-08-08 17:36] mheon commented on #350
To be 100% clear here: the warning message displayed by Conmon in this case is a warning. It is not fatal and does not have any impact on the proper functioning of Podman and Conmon. If you are seeing any issues with Podman, they are unrelated to this message.

If there is any takeaway here, perhaps it should be a rewording of the error message to sound a little less important/fatal (at least, whe

[2022-08-09 07:20] PavelSosin-320 commented on #350
@haircommander Someway when this message appears in the log container is never created without writing something else to the log in my Podman version and OS.
Regarding conferences about ghost container in the scenario when conmon is killed by OOM killer I think that when conmon gets KILL signal regardless of its source it must attempt to collect statistics, disconnect from the OCI runtime (securit

[2022-08-09 07:47] PavelSosin-320 commented on #350
@haircommander Since SIGKILL interception is not possible PRCTL may orchestrate behavior of conmon as a proxy and crun as a executor. When conmon dies crun must die too. It is proposed in the 1st post  from serverfault but I don't see it in the code. If Proxy and executor always die together I can ignore the reason which process caused OOM. So, again writing to oom_adj of conmon is useless because

[2022-08-09 10:20] PavelSosin-320 commented on #350
@haircommander Sorry, but when I see
DEBU[0001] running conmon: /usr/bin/conmon               args="[--api-version 1 -c b0375ed5120c3d6e0099611eb28f1767b3ffa2f8b61321303da483e99f032141 -u b0375ed5120c3d6e0099611eb28f1767b3ffa2f8b61321303da483e99f032141 -r /usr/bin/crun -b /home/pavelsosin/.local/share/containers/storage/btrfs-containers/b0375ed5120c3d6e0099611eb28f1767b3ffa2f8b61321303da483e99f032

[2022-08-09 13:43] mheon commented on #350
@PavelSosin-320 That is not an OOM issue. The actual issue is the `open executable: Permission denied: OCI permission denied` message. It is not related to the preceding ` [conmon:d]: failed to write to /proc/self/oom_score_adj: Permission denied` message, which is a harmless warning. Your container is failing to start because the OCI runtime cannot exec the first process in the container.

It's v

[2022-08-10 11:32] PavelSosin-320 commented on #350
Everything is very simple: choom -p <podman-service-pid> -n -1000 gives me "Permission denied" for running podman service. It means denied. The writing to the old file required the process to be privileged. Possibly today also. There is no virgin rootless processes in the Gnome environment, every process has some privileges to communicate with environment. If it breaks conmon the game is over. Pod

[2022-08-11 08:50] PavelSosin-320 commented on #350
The assumption that "Permission denied" is triggered by the OCI runtime looks correct: I can container create but can't container init from the plain Ubuntu image from the DockerHub/library. Unfortunately, other standard images fail.

[2022-08-14 06:54] PavelSosin-320 commented on #350
@mheon Please, pay attention that /run filesystem type is tmpfs. In the recent Kernals tmpfs is in-memory file system and all restrictions relevant for memory writing/reading and execution of code in the memory are applicable to the Podman runroot. Segmentation fault, disk full, etc. issues can be related to this fact. Indeed, Podman init of created container fails in the same way as podman run. H

[2022-08-15 11:55] PavelSosin-320 commented on #350
Why Podman perfectly works and runs the ubuntu image from the Dockerhub library inside Fedora 36 CoreOS VM under Gnome-boxes, i.e. completely in the Userspace of the core user  id 1000 but doesn't do it in the Fedora WS myuser  id 1000 ???
The only obvious difference that I see is storage driver defined in the storage.conf file. It looks like Podman uses the default overlay driver in the CoreOS an

[2022-08-16 12:52] PavelSosin-320 commented on #350
OK. I know what is it - this is very old btrfs bug [BTRFS bug RedHatbugzilla](https://bugzilla.redhat.com/show_bug.cgi?id=1447750) that appeared 1st time in the Docker Fedora 26 and then closed due to EOL and re-detected in the subsequent versions. Dan Walsh is aware  about the strange btrfs behavior. The files in the containers subvolumes eventually drop SeLinux labeling and it causes hidden SeLi

[2022-08-16 13:31] rhatdan commented on #350
So not something Podman can fix. Closing.

[2022-08-16 13:31] #350 closed

[2022-08-17 08:29] jklaiho commented on #348
I'm seeing the same thing. While deploying a server, I downloaded https://github.com/containers/conmon/releases/download/v2.1.3/conmon.amd64, and am unable to use `log_driver="journald"` in `containers.conf` with it.

[2022-08-17 08:50] PavelSosin-320 commented on #350
@rhatdan I will happily except it if btrfs home FS can be converted to stratis on existing Fedora 36 machine on-the-place or after my returning from the vacation Fedora 37 will be released and Fedora 36 WS will be upgradable to the 37 with podman. Please, don't take it as something personal.

[2022-08-17 13:14] rhatdan commented on #350
No problem.  I did not take it personal.  (Never do). :^)

[2022-08-17 14:06] haircommander commented on #348
@saschagrunert it seems our static builds are missing a journald library can you PTAL

[2022-08-22 09:17] saschagrunert commented on #348
I guess we did exclude systemd (libsystemd-journald and libsystemd) on purpose because it includes a huge amount of dependencies. Also statically building systemd incorporated some troubles in the past. I see that crun does statically link systemd via nix, so we may wanna copy over the bits from there.

[2022-08-22 13:51] b3n3w commented on #348
Do you have any recommendations how to get conmon and podman running again ? I already tried to uninstall every related service and reinstall them.

[2022-08-25 02:40] YaLTeR opened #351 "conmon stuck with 100% CPU frequently"
I'm on F37 Silverblue with conmon-2.1.2-3.fc37.x86_64, but this was happening on F36 as well. Conmon seems to be stuck eating 100% of a CPU core quite frequently with my fedora-toolbox-36, and I have to quit everything running from that toolbox to make conmon exit. I'm not sure what exactly triggers the issue, might be going in and out of suspend. I tried to investigate what it's doing with gdb, b

[2022-08-25 17:03] haircommander commented on #351
an upgrade to 2.1.3 should do the trick! https://github.com/containers/conmon/issues/330

[2022-08-25 17:08] YaLTeR commented on #351
Hm, do you happen to have any idea when it'll be available in F37? I see it's been released a month ago, yet it's still not in F37 somehow

[2022-08-25 17:27] haircommander commented on #351
ah it was stuck in testing, I have waived some false negative tests, hopefully it will find its way in soon :)

[2022-08-31 05:42] tyler92 commented on #307
Hi! It sounds great from my point of view. Sorry, I didn't find the right place for my question - are there any plans to implement this feature in C conmon?

[2022-08-31 07:10] saschagrunert commented on #307
Hey, no such enhancements are only planned for the Rust version.

[2022-09-02 08:11] mullerch commented on #348
I had the same issue. My workaround is to drop logs with `podman run --log-driver none`.

[2022-09-20 10:30] PavelSosin-320 opened #357 "Feature requst: Please, make CRun usable on the system like Fedora WS with dynamically mounted tmpfs on /run/user/n"
Currently: fails with error "Access denied" and causes Podman rstart error.
Dependency [Bug wrong labels for dynamically mounted tmpfs fs ](https://bugzilla.redhat.com/show_bug.cgi?id=1447921)
Workaround considerationL separate chained systemd unit for /run/user/n/containers subtree preparaition.

[2022-09-20 20:28] haircommander commented on #357
hm I think this is more of a crun issue. @giuseppe would you agree (and move if so?)

[2022-09-22 07:14] giuseppe commented on #357
not sure either what the issue is, Podman/crun do not set any volume on  `/run/user/n/containers`.

If you still believe it is an issue with crun, please open an issue for crun with more details.

[2022-09-22 07:14] #357 closed

[2022-10-06 17:21] zawadaa commented on #295
Hi! Some progress? I can rotate log by myself but I think that "ugly hack" ;-)

[2022-10-20 07:02] MarkusSchoelzel opened #358 "v2.1.4 binaries missing"
There are no binaries of version 2.1.4, yet.

@haircommander are you still in charge?

[2022-10-20 18:03] haircommander commented on #358
I sure am! thanks for the reminder, I've attached them

[2022-10-20 18:03] #358 closed

[2022-10-30 07:05] evverx commented on #315
I started using `podman` recently to run a bunch of fuzz targets and noticed that those fuzz targets somehow managed to crash `conmon` on the host from inside their containers (which I would have probably reported privately if this issue wasn't public).

Anyway as far as I can tell `conmon` doesn't take null bytes into account when it calculates `msg_len` while `g_strdup_printf` stops when it sees

[2022-11-03 10:30] giuseppe commented on #315
I've opened a PR here: https://github.com/containers/conmon/pull/361

[2022-11-03 14:47] #315 closed

[2022-11-04 21:56] nickthetait commented on #315
I am trying to determine the security impact of this flaw. Could anyone help by answering these questions and/or confirming my assumptions
- It causes a crash in conmon, but will that service come back on its own? About how long does that take?
- So this would halt monitoring of other containers (outside the one where this issue was triggered)? But these containers at least continue operating corr

[2022-11-05 00:26] evverx commented on #315
I don't think `conmon` is restarted by default. At least in my case it never came back by itself.

I don't think it would. One container can crash only its own `conmon` as far as can tell. In my case I ran a bunch of containers doing basically the same thing and about 30% of them went down along with their `conmon`s.

I think it depends on what they do. If they try to write data to file descriptor

[2022-11-05 06:25] evverx commented on #315
I seem to have misunderstood the question. I was talking about "crashing" containers (with my use case where a bunch of homogeneous containers do the same thing). The question seems to have been about the other containers (running in parallel and doing something else). Those other containers should be fine as far as I can tell. Sorry about that.

[2022-11-07 12:42] rhatdan commented on #315
The risk is that Podman would loose track of the container processes, so it would not easily be able to kill the container.

[2022-11-07 14:42] mheon commented on #315
Manual operations would still work (`podman kill` would hit the OCI runtime and kill the container, for example), but we would not be able to retrieve exit code. More serious is that we lose the ability to detect if the container exited on its own; as such, things like restart policy will not fire if the container exits.

[2022-11-08 20:48] nickthetait commented on #315
Thanks all, that info helps narrow it down. From my reading, the effects are limited to a single "attacking" container. So here is how I would rate the impact 3.5/CVSS:3.1/AV:N/AC:L/PR:L/UI:R/S:U/C:N/I:N/A:L

[2022-11-08 21:22] evverx commented on #315
I think all in all it's more of a reliability issue in the sense that legitimate containers that happen to spew zero bytes here and there would go down and the conmon crash would prevent them from being restarted normally (and in that case A would be H). That same crash would prevent "malicious" containers from being restarted for eternity (which is a good thing I think) so I think the security im

[2022-11-08 21:41] evverx commented on #315
Just to clarify as far as I can tell the worst thing that malicious containers can do is to dodge timeouts, restarts and so on and go about their business until they are somehow detected and stopped manually with, say, `podman stop ...`.

[2022-11-09 16:35] mheon commented on #315
Worth noting that this can potentially be used to obfuscate other malicious actions in the container - by killing Conmon, all logging of the container is also stopped.

[2022-11-13 00:27] evverx commented on #315
On the bright side when `conmon` crashes `systemd-coredump` should collect full backtraces and coredumps and put them in the journal so it doesn't seem to be possible to roll out malicious containers stealthily in one fell swoop. It's kind of possible to hide those backtraces by bringing down `systemd-coredump` itself from inside containers before crashing `conmon` by triggering bugs like https://